[2020-11-09 10:21] #5011 closed

[2020-11-09 16:56] saqimtiaz opened #5017 "[BUG] Advanced Search: Filter keyboard handling"
I think the keyboard handling in Advanced Search: Filter needs further consideration.

If you type a filter into the input and hit the up or down arrow key, the filter is replaced in the input field with the selected title. This amounts to data loss, as some filters can be a fair bit of work to write. Furthermore, having the selected title name in the input serves no real purpose in this case.

@B

[2020-11-09 16:59] saqimtiaz commented on #5017
OK the Escape key restores the filter but I don't know if that is something most users will realize.

[2020-11-09 16:59] BurningTreeC commented on #5017
@saqimtiaz - pressing escape resets the input field to the filter that was typed in.

I think we can avoid this behavior with a switch in the keyboard-driven-input macro, but don't know if we really want to? @Jermolene, @pmario, @allothers?

[2020-11-09 16:59] BurningTreeC commented on #5017
ups, allothers exists

[2020-11-09 17:01] saqimtiaz commented on #5017
@BurningTreeC I think the problem is that there isn't enough affordance for users to know that using the Escape key is even an option. It took me a while to realize and I've been following the development work.

So either we need to change the behaviour or add some affordance for the Escape key and what it does.

[2020-11-09 17:05] BurningTreeC commented on #5017
I'm in favor of adding some affordance for the Escape key, explaining what it does somewhere ... but I'd like to hear what others think about this

[2020-11-09 17:09] BurningTreeC opened #5018 "Moving some styles from the menubar plugin to vanilla/base"
https://github.com/Jermolene/TiddlyWiki5/blob/59c6f4447e25ef73c0678ee3cf8413cf1357bcd2/plugins/tiddlywiki/menubar/styles.tid#L220

We should add these lines of CSS to vanilla/base

[2020-11-09 17:11] Jermolene commented on #5018
That makes sense, thanks @BurningTreeC

[2020-11-09 17:12] BurningTreeC commented on #5018
Ok I'll create the PR

[2020-11-09 17:16] Jermolene commented on #5017
If I lost some text entry by typing cursor up or down, I guess experience with command line interfaces would make me expect that I could undo it by moving the cursor in the opposite direction. I guess conceptually there's a topmost entry in the dropdown that contains the text that I actually typed so far.

But equally, I suppose I wouldn't expect that cycling through the search results with the ke

[2020-11-09 17:23] BurningTreeC commented on #5017
So... should we find a way that the input field isn't updated while navigating up/down?

[2020-11-09 17:33] saqimtiaz commented on #5017
@BurningTreeC if you could investigate what it would take to make that possible, that would be highly appreciated. Thank you, I know the keyboard handling has been a lot of work.

[2020-11-09 17:34] BurningTreeC commented on #5017
@saqimtiaz - I'll investigate. Maybe I can also make it configurable ... (?)

[2020-11-09 17:37] BurningTreeC commented on #5017
I'll need some time for this

[2020-11-09 17:40] saqimtiaz commented on #5017
@BurningTreeC at your convenience please.

[2020-11-09 17:58] Jermolene commented on #5017
I think so. I think it hasn't been a problem before because for the usual search inputs the search terms and search results are the same thing, whereas with filters they are distinct. But now I'm beginning to question the way that the other search inputs work as well, which may not be helpful!

[2020-11-09 18:18] #5018 closed

[2020-11-09 18:20] BurningTreeC commented on #5017
:grin:

[2020-11-09 18:23] BurningTreeC commented on #5017
@Jermolene - one reason why I made it to update the input fields is, that dropdown lists can get very long and the selected item can get out of the viewport.

We could now make the selected item scroll into view, I tried that using the tm-scroll message with the selector param but that didn't work that well ... I can post a Demo to demonstrate what I mean.

Meanwhile I'm investigating the needed c

[2020-11-09 18:26] Jermolene commented on #5017
Hi @BurningTreeC interesting, it would certainly be good to explore the option.

[2020-11-09 18:28] saqimtiaz commented on #5017
I am used to the search field changing to match the selected/autocompleted titles from other applications. My own Notation app in TW which I demoed on the hangout does the same. So this behaviour came intuitively to me.

However, the Filter tab is rather different in that what you type into the input can be drastically different than the search results.

So I am not against having the other search

[2020-11-09 18:33] BurningTreeC commented on #5017
It's possible as I've now tested

[2020-11-09 18:47] BurningTreeC commented on #5017
[keyboard-driven-input-testing.zip](https://github.com/Jermolene/TiddlyWiki5/files/5512641/keyboard-driven-input-testing.zip)

@Jermolene @saqimtiaz,

In this Demo updating the input field is disabled. Actions on <kbd>Enter</kbd> and <kbd>ctrl-Enter</kbd> only work in the sidebar search input field (I haven't updated the other keyboard-driven-inputs). The keyboard-driven-input macro in this Demo a

[2020-11-09 20:01] kookma commented on #5017
@BurningTreeC  I have downloaded the demo to give a try!

1. Open Advanced Search
2. In the Standard search tab, I entered Core
3. I used down arrow and it nicely select the first tiddler found and then the next and so on
4. Then I used up arrow, I did not see the highlighted item, I see the page is going up BUT the highlighted item was hidden under top menu bar and this is confusing!

[2020-11-09 20:45] #4445 closed

[2020-11-09 20:45] Jermolene commented on #4445
Thanks @saqimtiaz

[2020-11-09 20:46] #3706 closed

[2020-11-10 06:15] MrDowntempo commented on #4958
#5017 is another situation where a keyboard shortcut's discoverability (ESC) could help alleviate the issue.

[2020-11-10 06:44] BurningTreeC commented on #5017
@kookma in the demo I didn't include the handling for these cases in the sidebar search

[2020-11-10 07:11] BurningTreeC commented on #5017
@Jermolene the easiest thing would be to make the input field reset to what was typed when cycling through the list and reaching the top or bottom of the list. Still leaving the behavior of <kbd>Escape</kbd> as it is. That would mimic the behavior of the Facebook search field (if somebody here uses Facebook)

[2020-11-10 07:13] BurningTreeC commented on #5017
I imagine we could also add a box at the top of the search results that list all possible shortcuts, with a "don't show this message again" button

[2020-11-10 10:07] rmunn commented on #3318
Here's one idea that occurs to me for making the documentation easier for users to edit. (And maybe you've already done this or something substantially like it, @Jermolene, in which case disregard this comment on a two-year-old issue).

1. Have one copy of TW running on TiddlyWiki.com, serving up the tw5.com edition.
1. Have another copy running somewhere else, say jermolene.github.io (or tiddlywi

[2020-11-10 11:21] rubaboo opened #5022 "have to also mention removing -[prefix[$:/StoryList]] from $:/config/SyncFilter"
https://github.com/Jermolene/TiddlyWiki5/blob/929b0c98330ad25aa4a32cd201274a6e89cd8902/editions/tw5.com/tiddlers/howtos/Preserving%20open%20tiddlers%20at%20startup.tid#L9

[2020-11-10 12:37] kookma opened #5023 "[IDEA] A Toggle Button for Simple Switching Dark/Light Theme for Tiddlywiki 5.1.23"
Tiddlywiki 5.1.23 has a bunch of wonderful new feature. With the advent of toggle operator and the nice working dark pallets, yet the current trend for having toggle dark/light  on many websites, I may recommend

1. Have a toggle button on the **page control** or **top menu bar**
2. Use nice buttons like https://icones.js.org/collection/uil (see the nice light/dark button top right of screen)
3. T

[2020-11-10 16:37] BurningTreeC commented on #5017
@Jermolene @saqimtiaz , I'll now post some Demos, first one that behaves like it did before but restores the typed input when we reach the top or bottom of the list:

[keyboard_driven_input_1.zip](https://github.com/Jermolene/TiddlyWiki5/files/5518733/keyboard_driven_input_1.zip)

[2020-11-11 17:15] Jermolene opened #5025 "[BUG] Sidebar search popup is in inconsistent state after clicking elsewhere on the page"
The popup mechanism gets into an inconsistent state after the sidebar search input loses focus

Steps to reproduce the behavior:
1. Go to https://tiddlywiki.com/
2. Open the JavaScript console
3. Enter `$tw.popup.popups.length`
4. The result will be zero, indicating that no popups are currently displayed
5. Click on the main page background
6. Enter `$tw.popup.popups.length` in the JS console
7. T

[2020-11-11 17:18] BurningTreeC commented on #5025
Yes I can have a look @Jermolene

[2020-11-11 17:22] BurningTreeC commented on #5025
@Jermolene I cannot reproduce this on FireFox (Linux). I have a popup when loading the page which is the search-dropdown-popup and no popups after clicking on the main page background

[2020-11-11 17:29] Jermolene commented on #5025
Thanks @BurningTreeC. I was using Chrome Canary, so perhaps it's just a quirk there. I'll investigate other browsers.

[2020-11-11 18:23] BurningTreeC commented on #5017
@Jermolene @saqimtiaz @pmario - I cannot do much more than in the Demo above, sorry.

[2020-11-12 09:18] linonetwo commented on #4610
I'm going to make a new editor like https://laobubu.net/HyperMD/#README.md recently, I'm going to make it support both markdown and wikitext, so we can have mixed content of both syntax.

But some syntaxs are in conflict, for example, title `#` in md is not compatable with list `#` in wikitext.

I hope I can let user choose which set of syntax they want, but after save to the disk, the file will r

[2020-11-12 09:25] saqimtiaz commented on #4610
@linonetwo I would recommend deciding in advance which formats the editor is going to allow and excluding those that clash. Otherwise, as you state, there will be issues where if the editor configuration changes the file can no longer be parsed properly.

[2020-11-12 09:36] saqimtiaz commented on #5017
@BurningTreeC apologies, some busy days this week. Expect some feedback by the end of the week. Thank you.

[2020-11-12 09:38] BurningTreeC commented on #5017
No problem @saqimtiaz

[2020-11-12 10:17] pmario commented on #5017
For me it would be OK that way. I think the "reset on Escape" should stay!

[2020-11-13 08:31] saqimtiaz commented on #5017
@BurningTreeC

I quite like this behaviour. As Jeremy mentioned earlier, my instinct when the input changes on keyboard down, is to press up to restore it and this works well. Having the escape key is great as well for when you are further down the list and want to reset the search input. Greater affordance for the Escape key would be nice in the future, but isn't as high of a priority anymore giv

[2020-11-13 09:57] BurningTreeC commented on #5017
@saqimtiaz thanks for your reply. I'll prepare a PR for this asap.

The handling of error messages is a bit more complicated since they can start with "Filter error", RegExp Error", "SyntaxError"... and depend on the language settings. I'll have a look if I can do that

[2020-11-13 10:19] mauloop opened #5028 "[BUG] Type application/x-tiddler forced while importing .tid files from Windows Explorer"
**Describe the bug**

I imported some .tid files, which did not  have the type field set, in my wiki, by dragging the files from the Windows explorer into the TW5 browser view.

After the import has completed the type was set to "application/x-tiddler".

**To Reproduce**

Steps to reproduce the behavior:

- Create a simple tiddler like this (or use any tiddler from any wiki, it does not make diffe

[2020-11-13 10:44] saqimtiaz commented on #5028
It seems this is an intentional configuration, so may be hard to change now in light of backwards compatibility:
https://github.com/Jermolene/TiddlyWiki5/blob/ecb3c86e7bff8205043f397848355d5cefe7f470/boot/boot.js#L2261

It is intended to extend the import UI post 5.1.23 to allow choosing the deserializer to be used so that may be one way to address this.

[2020-11-13 14:23] pmario opened #5029 "[IDEA] Add actions parameter to "range widget""
The idea is to add action parameterS to the "range widget".

@saqimtiaz pointed out, that all "interactive" widgets that can have an **actions** parameter, should have 1 or more.

Some thoughts about the specs follow.

## Spec / Ideas

 1. Add info about "click" and "click-release" state ...
   1.1 This means, there at least 2 actions
 2. While the "handle" is clicked, _no_ actions should be fired

[2020-11-13 14:44] pmario commented on #5029
The html range-input fires

 - a "change" event, ONLY if the start-value is different to the end-value
 - an "input" event, WHENEVER the slider is moved ... this causes a lot of events and IMO should be avoided.

## Additional Spec

 - There needs to be a difference between "change" and "input" .. Which means we have 4 actions now.

[2020-11-13 14:49] kookma commented on #4449
This is a gentle reminder!

[2020-11-13 15:01] kookma opened #5030 "[BUG] The $:/AdvancedSearch tiddler and horizontal overflow"
**Describe the bug**
When search tiddlers with very long title, the result text crosses the $:/AdvancedSearch boundaries and overflows in x direction.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://tiddlywiki.com/prerelease
2. From $:/ControlPanel, Appearance, Theme Tweaks, change Sidebar layout to Fixed Story, Fluid Sidebar
3. Open $:/AdvancedSearch and goto Filter tab
4. Se

[2020-11-13 15:08] BurningTreeC commented on #4449
@kookma I believe this is the expected filter output

[2020-11-13 15:20] kookma commented on #4449
@BurningTreeC  does it make sense to show the temporary tiddler used by search box itself?

[2020-11-13 15:25] pmario commented on #4449
IMO Yes. Otherwise it's really hard to find stuff in "system" tiddlers. They are not shown in the sidebar search. ...

eg: have a look at the "filtered" tab and look in the dropdown. There is a predefined filter: "Tiddlers in Story river, excluding $:/AdvancedSearch" ... The filter is: `[list[$:/StoryList]] -$:/AdvancedSearch`  ...

So if you don't want to see something there, you'll need to remov

[2020-11-13 15:34] BurningTreeC commented on #4449
In my opinion yes, too

[2020-11-13 16:17] kookma commented on #4449
@BurningTreeC, @pmario Thank you!

[2020-11-13 16:17] #4449 closed

[2020-11-13 18:00] Jermolene commented on #5030
Thanks @kookma. There is a `white-space: nowrap;` on the class used to display lists. It is intended for use in the sidebar, I'll post a fix narrowing its scope.

[2020-11-13 18:00] #5030 closed

[2020-11-13 18:06] Jermolene commented on #5029
Hi @pmario good idea.

I think that might be a bit restrictive. The refresh cycle is often quick enough for interactive use.

I think that sort of throttling would be the responsibility of the sync subsystem.

[2020-11-13 18:26] saqimtiaz commented on #5029
One consideration here is that IE10/11 do not fire an `input` event on range elements, but instead fire the `change` event on `mousemove`.

Other browsers only fire `change` on `mouseup`, and `input` on `mousemove`.

This naturally restricts us to only being able to invoke actions on `mousemove` rather than `mouseup` if we want to maintain IE support.

Note that `handleInputEvent` already does deb

[2020-11-13 18:33] BurningTreeC commented on #5017
@saqimtiaz - #5031 has been merged. Would you consider this issue as resolved?

[2020-11-13 18:34] saqimtiaz commented on #5017
@BurningTreeC yes, thank you.

[2020-11-13 18:34] #5017 closed

[2020-11-13 18:52] Jermolene commented on #5029
I'm much less worried about IE 10/11 support these days, especially for something like this where generally all IE 10/11 users would lose is some interactivity.

[2020-11-13 18:54] Jermolene commented on #5028
Thanks @mauloop I can't replicate this on Chrome on the Mac; .tid files import as expected. Is this specific to Window Explorer?

[2020-11-13 19:03] saqimtiaz commented on #5029
@Jermolene to clarify my point was that if we fire actions on mouse-move, as you suggest for interactive use, then we also get IE10/11 compatibility at no cost.

[2020-11-13 19:21] Jermolene commented on #5029
Apologies @saqimtiaz, but why wouldn't we just use the "input" event and stay away from "mousemove"?

[2020-11-13 19:24] saqimtiaz commented on #5029
@Jermolene we are saying the same thing but talking around each other.

The `input` event is fired on the mouse moving, as opposed to mouse up/release.

[2020-11-13 22:28] mauloop commented on #5028
Hi, Jermolene.

I think it is not a Windows specific behaviour. I can replicate it on Archlinux + XFCE 4.14 + Thunar File Manager 1.8.15 + Firefox 78.0.1 + TW 5.1.22 (Tiddliwiki web site)

[2020-11-13 22:58] mauloop commented on #5028
I forgot to tell that this is not a critical issue for me. I didn't noticed it as soon as it happened, and everything worked fine, despite the type of imported tiddlers. I use TW5 at work to save bookmarks and notes about ongoing tasks. I converted some collegues to TW5 and we use to exchange notes by email attaching the exported tid files. None of the notes has been corrupted or lost due to this

[2020-11-14 10:01] saqimtiaz commented on #5028
@mauloop I cannot replicate this on Chrome or Firefox and Windows 10 either. The tiddler type is set to `text/vnd.tiddlywiki` after import.

Could you perhaps share the contents of a `.tid` file that is triggering this behaviour?

[2020-11-14 11:31] mauloop commented on #5028
@saqimtiaz You can find an example tiddler and some screenshot in the attached zip file: [tw5-issue-5028.zip](https://github.com/Jermolene/TiddlyWiki5/files/5540573/tw5-issue-5028.zip)

I created the tiddler in the TW5 web site with Chrome (01-tiddler-created.png).
Then I imported the tiddler into the same wiki (after having it reloaded, in order to wipe any changes) three times, with Chrome, then

[2020-11-14 11:47] Jermolene commented on #5028
Thanks @mauloop, and apologies. I was testing with .tid files that included `type` field, while your example does not. It turns out that any tiddler without a `type` field will have its type set to `application/x-tiddler` on import. It appears that this bug has been present since 2013 (!); I'll investigate further.

[2020-11-14 11:53] saqimtiaz commented on #5028
@Jermolene I can confirm that my test was also with a .tid file with the type field set.

[2020-11-14 12:05] #5028 closed

[2020-11-14 12:06] Jermolene commented on #5028
I think this is fixed. I've checked that it doesn't impact importing other file types, but would appreciate a second set of eyes.

[2020-11-14 12:28] saqimtiaz commented on #5028
@Jermolene I've had a careful look through the code and it looks good to me. None of the downstream code in the import process relies on the `type` attribute in `tiddlerFields`.

[2020-11-14 12:32] Jermolene commented on #5028
Thanks @saqimtiaz

[2020-11-14 15:38] BurningTreeC opened #5036 "[IDEA] - An ActionSetTimeout widget that invokes Actions after a given time period"
**Is your feature request related to a problem? Please describe.**
In the current tag-picker such a widget would solve an issue with tags not animating when deleting a state-tiddler right after / before adding a tag

**Describe the solution you'd like**
An action widget like `action-settimeout` that invokes its actions given to the `$actions` attribute after the period given to the `$timeout` attr

[2020-11-14 15:59] mauloop commented on #5028
Thanks to both. I appreciated very much your readiness, even id if the issue was not critical.

Let me make a little comment. Since no type defined is intended by the wiki as "text/vnd.tiddlywiki" and there is nothing that set a default type for newly created tiddlers, it leads to have a lot of tiddlers with undefined type without the users beeing aware of this. At tiddlywiki.com 173 of 1263 regul

[2020-11-14 16:08] Jermolene commented on #5028
Hi @mauloop indeed, I think it is important to maintain support with tiddlers without a type field for brevity.

[2020-11-14 17:02] saqimtiaz commented on #5036
@BurningTreeC Would it be accurate to describe the underlying problem as a need to be able to invoke some actions after the refresh cycle?

I've struggled with a similar problem at times. For example, a button that should show an input field (hidden in a `reveal` widget) and set focus to the input field with `tm-focus-selector`. The problem is that when `tm-focus-selector` is invoked, the input fi

[2020-11-14 17:06] BurningTreeC commented on #5036
Hi @saqimtiaz

No, in my usecase not. I have to wait for the Animation Duration to finish before I can delete a state Tiddler, which would cause the animation to fail if done earlier

[2020-11-14 17:13] saqimtiaz commented on #5036
@BurningTreeC thank you for clarifying. It's a similar though distinct problem. I've had some ideas for how to trigger actions after the refresh cycle but had not considered animations.

[2020-11-14 18:45] twMat commented on #5029
Related to #3252

@pmario asks in the current OP:

In the referred link, I give a use case that I hope would be resolved with the current proposal, i.e:

[2020-11-14 19:03] pmario commented on #5029
@twMat ... I think your usecase will be relatively simple to solve with the new action functions.

[2020-11-14 21:02] pmario commented on #5029
@saqimtiaz, @Jermolene mouse-move isn't possible, since it also fires, if the button isn't dragged, which makes the logic complicated.

Using mouse-down and mouse-up makes it pretty simple to implement the same behaviour for all browsers. The new commit will contain some more lines of code, to deal with the quirks.

 - detect IE (1 liner).
 - if change event fires and isIE .. call IntupEvent handl

[2020-11-14 21:30] pmario commented on #5036
That's right. .. I did have a similar problem once, where I used this as a workaround.

[2020-11-14 21:35] pmario commented on #5036
I've seen, that you did add a lot of animations lately. .... I personally don't like "some of them" too much.

I think animations are OK to guide the users visual attention.

If I'm adding or deleting tags in the edit template, I'm totally focused to that area on the screen. So I think this animation is not needed.

I'm OK with the view-mode animation of tags. Eg: if you click a "done" button, som

[2020-11-14 21:39] pmario commented on #5036
I did create a "trigger - widget", which triggers some user actions whenever the trigger-widget is rendered.
see: https://wikilabs.github.io/editions/trigger/

IMO it should be relatively simple to add a timeout..

[2020-11-15 05:41] kookma opened #5038 "[IDEA] Request for configurable setting for autofill tag pill in TW 5.1.23"
**Describe the bug**
A feature has recently added to TW 5.1.23 lets you to focus tag input after adding a tag and repeat the partial word you used in previous input. While in some cases this may be useful but in other cases it is annoying and needs more clicking/pressing keys to cancel or remove the partial word you entered in tag input. See https://github.com/Jermolene/TiddlyWiki5/pull/5032

**To

[2020-11-15 05:50] kookma opened #5039 "[BUG] Autofill tag pill in TW 5.1.23 keeps partial word input if the tiddler is deleted"
**Describe the bug**
The autofill tag input keeps the partial word already used when you create a new tiddler, if you deleted the previous tiddler you used partial word in tag input. See https://github.com/Jermolene/TiddlyWiki5/pull/5032

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tiddlywiki.com/prerelease/
2. Create a new tiddler
3. In tag input type Hell
4. Add the HelloT

[2020-11-15 06:29] kookma opened #5040 "[IDEA] Esc key to close the tag drop down"
**Is your feature request related to a problem? Please describe.**
In TW 5.1.23, clicking in tag input brings the tag drop down and you can enter a partial word to search in tag dropdown. The Esc key clear the tag input, pressing Esc key again tries to close the tiddler while tag drop down is still open.

It would be convenient to use Esc key when tag input under focus to close the tag drop down m

[2020-11-15 06:38] BurningTreeC commented on #5038
@kookma thanks for your report. I think I'll revert this behavior to how it was before

[2020-11-15 06:39] BurningTreeC commented on #5039
@kookma thanks for your report. I think I'll change this behavior to how it was before

[2020-11-15 06:58] BurningTreeC commented on #5036
@pmario - I didn't add that many animations, I just fixed them mostly with a `\whitespace trim` ... they should've already been there, the storyview="pop" was already set, apart from the animation in the `$:/Manager` - that one is new

[2020-11-15 07:05] BurningTreeC commented on #5039
@kookma - I misunderstood the OP. I'll investigate how to fix this issue. Thanks for reporting!

[2020-11-15 07:22] BurningTreeC commented on #5039
@kookma - this issue is the same for the fieldname input and the fieldvalue input. This behavior was also in 5.1.22 ...

The fix would be a bit more complicated. I'd like to hear others if it's worth the effort

[2020-11-15 07:39] kookma commented on #5039
@BurningTreeC  Yes, it seems this is the same behavior for Fields. Okay lets see what other users say!

[2020-11-15 08:03] saqimtiaz commented on #5040
Is there really much utility in closing the tag dropdown though? If you're finished with tagging, `Tab` takes you to the text area and closes the dropdown.

[2020-11-15 08:07] BurningTreeC commented on #5040
I'm with @saqimtiaz' opinion

[2020-11-15 08:34] saqimtiaz commented on #5029
I suspect we are overcomplicating this, both conceptually and with mixing and matching terminology.

`handleInputEvent` doesn't need to be much more complicated than this:
[code]

`handleInputEvent` already does debouncing and the current implementation works well across browsers, allowing the slider to be used interactively so that you can see the changes as you drag the slider.

[2020-11-15 09:02] pmario commented on #5029
@saqimtiaz The  actions I'm interested in are the "change" and "mouse-up", that are fired, when the button is released.

[2020-11-15 09:09] saqimtiaz commented on #5029
@pmario why? That is inconsistent with how the `range` widget currently works, and [as Jeremy mentions](https://github.com/Jermolene/TiddlyWiki5/issues/5029#issuecomment-726926797) it seems far too restrictive. Using actions should extend the possibilities currently available with the `range` widget, not restrict them. The current implementation allows interactive use, is debounced and has no perf

[2020-11-15 09:13] pmario commented on #5029
That's why we need all of them. The user can decide, which one to use

[2020-11-15 09:18] saqimtiaz commented on #5029
I don't see any benefit, only unnecessary complexity. But I'm willing to be convinced otherwise, and will wait to see your code and hopefully some examples of use cases that warrant this.

[2020-11-15 09:33] kookma commented on #5040
@BurningTreeC @saqimtiaz
Well, it is not critical action and one can click somewhere else or press tab key to move focus to other element and closes the tag drop down! But as the Esc is working to clear the tag input, unintentionally you may press Esc to close the drop down and then you loose the changes as the second Esc closes the tiddler.

I think this may be an improvement in workflow but it d

[2020-11-15 09:33] #5040 closed

[2020-11-15 11:41] Jermolene commented on #5039
Hi @BurningTreeC I do think the more expected behaviour would be to clear the typed input when clicking an entry in the dropdown.

[2020-11-15 11:42] #5038 closed

[2020-11-15 11:56] Jermolene commented on #5036
Hi @BurningTreeC @saqimtiaz @pmario the fundamental problem with widgets triggering asynchronous actions is that widgets are volatile, and are created and deleted all the time. And so there's no guarantee that the widget instance that triggered a task is still around when the task comes to be executed

We've got away with widgets firing asynchronous tasks to update the DOM, but the inconsistencies

[2020-11-15 12:10] BurningTreeC commented on #5039
That's fixed with #5041 ... but the OP is more about state tiddlers not being deleted after cancelling/deleting a tiddler

[2020-11-15 13:27] kookma commented on #5039
@Jermolene Can I close this issue or it should be open for other fields?

[2020-11-15 13:29] BurningTreeC commented on #5039
@kookma I think you can leave this issue open

[2020-11-15 16:18] kookma opened #5048 "[BUG] New $:/Import in TW 5.1.23 too much information"
**Describe the bug**
I tried to re import a plugin two times and I got the below status message

[code]

1. It says required reload, but then says it is blocked. This is confusing!
2. It says incoming 2.1.1 is older than existing 2.1.1, but it is not correct! They are the same
3. It says A tiddler with this title already exists.

I may recommend to use a clear status message here

**To Reproduce**

[2020-11-15 17:45] saqimtiaz commented on #5048
@kookma this is useful feedback, thank you. I struggled a bit with the same issue of too much information in the Status column when working on the import UI recently. However, I am unsure as to how much we can resolve at the moment and therefore decided this was better tackled as part of a redesign, see #5013.

Right. One of the issues here is that status messages don't take into account other mes

[2020-11-15 18:52] BurningTreeC commented on #5039
Hi @kookma, I believe I've fixed this issue in the following Demo:

[delete_state_tiddlers.zip](https://github.com/Jermolene/TiddlyWiki5/files/5542914/delete_state_tiddlers.zip)

If you have some time, you may want to test this :+1:

[2020-11-15 19:00] BurningTreeC commented on #5025
@Jermolene , I tried this on FireFox, TiddlyDesktop, Chrome and Chrome Canary and cannot reproduce the problem.

[2020-11-15 19:03] BurningTreeC commented on #5036
@Jermolene , this looks like a good starting point :smile:

[2020-11-15 19:20] saqimtiaz commented on #4370
@pmario for some situations at least, using the new [post-render startup actions](https://github.com/Jermolene/TiddlyWiki5/commit/5cc1600072f5aa50c8ff5f5d2e748d81a7067420) is an option.

[2020-11-15 19:22] saqimtiaz commented on #4026
This was a bug with the sortan operator used with the created/modified fields that has since been fixed for 5.1.23 pre-release, and can be tested at https://tiddlywiki.com/prerelease/#%24%3A%2FAdvancedSearch

@twMat could you please confirm and close the issue?

[2020-11-15 19:23] saqimtiaz commented on #4022
@AnthonyMuscio since 5.1.22 the `action-createtiddler` widget supports a template attribute.

Can you please close this issue?

[2020-11-15 19:25] saqimtiaz commented on #4107
In light of the recent conversation at #4850, this can be closed.

[2020-11-15 19:35] kookma commented on #5048
Thank you @saqimtiaz I am in favor of https://github.com/Jermolene/TiddlyWiki5/issues/5013.

[2020-11-15 19:40] kookma commented on #5039
@BurningTreeC, Thank you!

I tested the demo.
 It works fine! After each tag was added the input for the next tag is clear!

[2020-11-15 19:43] BurningTreeC commented on #5039
@kookma, it should also work for the fieldname and fieldvalue inputs!

[2020-11-15 19:53] kookma commented on #5039
@BurningTreeC  Sorry, I forgot it!

Well I tested the Demo again! It nicely do clear the field input and works as expected.

**Side notes**:
When adding a new field (field name) using the mouse click the drop down will be closed, but when you add a field name by selecting from the drop down by pressing `Enter` key the drop down remains open! It is like nothing was happened, but after clicking the

[2020-11-15 19:58] BurningTreeC commented on #5039
@kookma - I think I don't understand what you mean. The fields that are added should always be clearly visible

[2020-11-15 20:42] kookma commented on #5039
Yes, the fields that are added are clearly visible! So, I confirm the issue has gone!
My point was: it is good to close the drop down on `Enter`.

[2020-11-15 21:55] saqimtiaz commented on #5048
I've had a bit of a look. Here are some things we can do relatively easily for 5.1.23:
- If a plugin is blocked, do not display the `(requires reload)` message. ([Code](https://github.com/Jermolene/TiddlyWiki5/blob/master/core/modules/upgraders/plugins.js#L60))
- Modify the [message](https://github.com/Jermolene/TiddlyWiki5/blob/master/core/language/en-GB/Import.multids#L22) `Upgrader/Plugins/Supp

[2020-11-15 22:52] twMat commented on #4026
Confimed. Mucho thanko.

[2020-11-15 22:52] #4026 closed

[2020-11-16 04:21] kookma commented on #5048
Yes!

Yes!

These changes make things much more clear!

[2020-11-16 07:30] rmunn commented on #5029
Speaking for the moment as a potential user of this feature rather than as a developer, I (as a potential user) would want the `change` and `input` events to be available as they're handled by all modern browsers (i.e., not IE). That is, I want to be able to react to two things:

* Did the user move the slider? (The `input` event).
* Did the user decide "Yes, that's the value I want" by releasing

[2020-11-16 12:05] pmario commented on #4370
Tested it with post-render and it works now!

[2020-11-16 12:05] #4370 closed

[2020-11-16 12:36] pmario opened #5053 "[IDEA] use "share" and "share all" instead of "permalink" and "permaview""
Hi, I just found: https://giffmex.org/gifts/documenting.tw.html which uses a nice "share" button, which basically does the same thing as our "permalink" button.

![idea-new-share-button](https://user-images.githubusercontent.com/374655/99253036-4f4d8400-2810-11eb-8be1-ce42aa74b93d.gif)

**The Proposal** is:

We should implement this one into the core, because it is used by many apps and users may

[2020-11-16 13:09] giffmex commented on #5053
Great idea! I think the "share" language is more familiar for most people, as is the icon. Glad to have been an inspiration!

[2020-11-16 16:27] #2188 closed

[2020-11-16 16:27] #3560 closed

[2020-11-16 16:38] Jermolene commented on #5053
Hi @pmario @giffmex making a radical change to an existing icon has implications for existing documentation and forum posts. Permalink and permaview have been part of TW5 for many years and so we can expect that there would be many references to that functionality making reference to the existing icons.

In any case, this is the Android "share" icon; it isn't used on Apple operating systems, and s

[2020-11-16 16:51] giffmex commented on #5053
I had a feeling Jeremy would say that...and he's right about backward incompatibility.

One option might be just to create the share button as a redundant functionality, then just leave permalink there in the background, and never talk about it again.

As for the icon, perhaps both the Apple and Android share icons could be added, and instructions on tiddlywiki.com for changing the icon. I agree w

[2020-11-16 16:51] Jermolene commented on #5039
Hi @kookma can this be closed?

[2020-11-16 16:54] #5039 closed

[2020-11-16 17:00] Jermolene commented on #5053
Hi @giffmex indeed, thinking of a "share" icon as a new feature is easier. There might also be scope to use the new browser native share dialogue which has good support on mobile devices:

https://caniuse.com/web-share

[2020-11-16 17:00] saqimtiaz commented on #4022
@Jermolene this can be closed, since 5.1.22 the action-createtiddler widget supports a template attribute.

[2020-11-16 17:02] Jermolene commented on #4022
Thanks @saqimtiaz

[2020-11-16 17:03] saqimtiaz commented on #4879
@Jermolene you resolved this a few weeks ago, can be closed.

[2020-11-16 17:20] kookma commented on #5039
Thank you Jeremy!

[2020-11-16 23:16] pmario commented on #5053
OK. Having different buttons for the same thing will really cause a lot of confusion. ... So we may wait until the W3.org comes up with an official "spec" in some years ;)

[2020-11-16 23:16] #5053 closed

[2020-11-17 00:27] giffmex commented on #5053
Hi Mario
I think you gave up too soon. No confusion if you quietly hide the permalink in a dark recess of the control panel to be forever forgotten, and play up the share button. But hey, at least I have it as an option in my 'Documeting TW' file for those that want it.

[2020-11-17 00:41] pmario commented on #5053
I wasn't aware, that the iStuff does use different icons. Having 3 of them instead of 2 IMO is problematic. ...

My tocP plugin provides 2 different icons for the exact same functionality, because I thought users can use the one they like more. ... But it causes support requests that I don't want to deal with. ...

The new plugin will keep 2 buttons, for compatibility reasons. BUT new users will o

[2020-11-17 10:00] saqimtiaz commented on #4849
I ran into this issue a while back and tweaked the comments plugin to inherit the type field from its parent tiddler.
However, this isn't a good general purpose fix as it doesn't make sense for binary tiddlers or even CSS/JavaScript tiddlers.

I would suggest a plugin configuration that determines for which tiddler types, the type field is inherited from the parent by the comments.

[2020-11-17 10:12] saqimtiaz opened #5058 "[IDEA] TiddlyWiki filter visualizer/helper tool"
A TiddlyWiki filter visualizer/helper tool, like regexper.com and reg101.com are for regular expressions, would be extremely useful.

I was explaining the basics of TiddlyWiki filters to a colleague last night and realized that it felt very reminiscent of explaining regular expressions.

This would be a far from trivial undertaking, but I think the potential dividends make it worthwhile. The chall

[2020-11-17 10:19] saqimtiaz commented on #4721
bumping this as we get closer to 5.1.23 @Jermolene @BurningTreeC, so that the upgrade experience from 5.1.22 is as smooth as possible.

[2020-11-17 10:46] BurningTreeC commented on #4721
Hi @saqimtiaz , this issue should be resolved

[2020-11-17 11:15] BurningTreeC commented on #4721
@saqimtiaz ah yes, we can do something

[2020-11-17 14:40] Jermolene commented on #4721
Thanks @saqimtiaz @BurningTreeC do you intend to proceed with the upgrader?

[2020-11-17 14:48] BurningTreeC commented on #4721
@Jermolene I thought the fix was using both the text and the tags fields for the tags of new tiddlers. But if the upgrader can fix this problem, it would be better to do so

[2020-11-17 14:51] Jermolene commented on #4721
Apologies, I hadn't considered that using both fields might be an option. On balance I guess it keeps things simpler to handle it in the upgrader. One issue is that Node.js wikis cannot use upgraders, so perhaps we should err on the side of caution and do both?

[2020-11-17 16:32] BurningTreeC commented on #4721
@Jermolene, I don't know how to handle it in the upgrader, but I can prepare a PR for the wikitext stuff

[2020-11-17 17:54] saqimtiaz commented on #4394
@Jermolene copying here your [post on GG just now](https://groups.google.com/g/tiddlywiki/c/k1wCx3QtCc4):

One of my personal TiddlyWiki’s contains song lyrics and chords, with the default tiddler displaying a list of the songs sorted by title. It’s been annoying for a long time that the titles starting “The …” are sorted under “T”, and not the first letter of the following word.

The new sortsub

[2020-11-17 18:01] saqimtiaz commented on #2063
@Jermolene this can be closed thanks to the introduction of the `sortsub` operator.

[2020-11-17 18:13] Jermolene commented on #2063
Thanks @saqimtiaz

[2020-11-17 18:13] #2063 closed

[2020-11-17 19:04] Jermolene commented on #4394
Thanks @saqimtiaz that hack is probably sufficient for the moment so I'll close this for now.

[2020-11-17 19:04] #4394 closed

[2020-11-17 19:08] saqimtiaz commented on #4394
@Jermolene I haven't tested this but I think you could also do this for more flexibility:

`[<currentTiddler>search-replace:i:regexp[^The |A ],[]]`

[2020-11-17 19:09] Jermolene commented on #4394
Good thinking @saqimtiaz perhaps we should add this as a new example for those two operators?

[2020-11-17 19:11] Jermolene commented on #5058
Great idea. It might be interesting to sketch out how we might visualise some example expressions.

[2020-11-17 19:12] #5048 closed

[2020-11-17 19:13] saqimtiaz commented on #4394
@Jermolene exactly my thoughts, just made a note to prepare PRs for docs when I wrote the above.

[2020-11-17 19:44] saqimtiaz commented on #4394
Here is yet another approach without `sortsub`, which I quite like for how it displays the list:

`<$list filter="[tag[song]search-replace:i:regexp[(^The |A )(.*)],[$2, $1]sort[]]" template="$:/:_SongItemTemplate>`

`The Richest Man in Babylon` becomes:
`Richest Man in Babylon, The`

[2020-11-17 19:49] saqimtiaz commented on #4394
PS: it will need some finessing to get the link pointing to the correct tiddler though.

[2020-11-17 21:17] Jermolene commented on #4394
Excellent, presumably we'll need separate filters for sorting and for display, but this is promising stuff.

[2020-11-18 04:15] joshuafontany commented on #4924
I can confirm that I saw the `$:/core/modules/utils/logger.js:52 syncer-browser-tiddlyweb: Deleting tiddler missing from server: $:/boot/bootprefix.js`, and that using the specified  $:/config/SyncFilter _seems_ to let me "Save a Snapshot" that then loads correctly.

I'm also reading through core tiddlers for the fix-fileInfo PR and thinking about the $:/StoryList issue... They all seem related.

[2020-11-18 05:34] saqimtiaz commented on #4924
You're absolutely right @joshuafontany both issues have the same root.

The underlying problem here is that the syncer will delete from the client any Tiddler that matches it's syncFilter, and does not exist on the server.

There is no mechanism in place to say: sync this this tiddler to the server, but not from the server. Which is what we need for a simplistic solution to the story list problem

[2020-11-18 09:18] saqimtiaz commented on #4394
Working on docs. Posting the full solution here in case someone comes across this later:

[code]

**Output:**
![image](https://user-images.githubusercontent.com/68092/99510282-2996bb00-2987-11eb-8ee4-99597a8e2ed6.png)

[2020-11-18 11:45] saqimtiaz commented on #4769
We could probably make the implementation a lot easier using the new `toggle[]` operator.

[2020-11-18 13:47] kookma commented on #4769
@saqimtiaz yes, toggle make this quite easy!
Also see https://github.com/Jermolene/TiddlyWiki5/issues/5023, I think it worth to have such a button. I also suggest to add two nice icons (moon/sun) for toggling!

[2020-11-18 14:03] saqimtiaz commented on #5023
@BurningTreeC Is this something you might want to tackle? Even if it doesn't make it into the core right away, I think it would be a nice plugin.

JD has already done most of the groundwork in #4769

[2020-11-18 14:05] BurningTreeC commented on #5023
@saqimtiaz we'd need a dark / light equivalent for every theme... I don't know if we do. But I'd like to tackle this, yes

[2020-11-18 14:06] saqimtiaz commented on #5023
@BurningTreeC I was thinking we just let the user directly choose a dark and light palette as part of a config option.

[2020-11-18 14:07] BurningTreeC commented on #5023
Good idea @saqimtiaz !

[2020-11-18 14:11] saqimtiaz commented on #5023
@BurningTreeC do have a look at JD's implementation in #4769, some good ideas in there

[2020-11-18 15:54] Jermolene commented on #5023
Just to complicate things, there is a media query for detecting the users preference for dark mode vs. light mode:

https://css-tricks.com/dark-modes-with-css/

$:/core/modules/info/platform.js could use `Window.matchMedia()` to set an info tiddler.

[2020-11-18 16:28] BurningTreeC commented on #5023
@Jermolene, that's a nice idea. I already did so, but now I need some ideas how to make use of it

[2020-11-18 16:35] Jermolene commented on #5023
I get the impression that people like websites that automatically adapt to the prevailing display mode, so I think that would be a good starting point. We should also listen for changes using the technique shown in https://flaviocopes.com/javascript-detect-dark-mode/

Having said that, we may want to keep this back until after v5.1.23...

[2020-11-18 16:41] BurningTreeC commented on #5023
yes @Jermolene, I also want to keep this back until after v5.1.23

[2020-11-18 17:56] saqimtiaz commented on #5023
I think it would be good to give this a run as a plugin, or an early part of 5.1.24-prelease to get user feedback.

[2020-11-19 02:00] AnthonyMuscio opened #5070 "[IDEA] Extend the new ActionLogWidget to optionally write to a data tiddler"
**Is your feature request related to a problem? Please describe.**
It is great having this new feature  ActionLogWidget however often people may also want to log to a tiddler, whilst this can be build independently it makes sense to extend the ActionLogWidget since by its name it could imply such functionality.

**Describe the solution you'd like**
Allow a tiddler title and index be provided and s

[2020-11-19 06:17] bigredrobot opened #5071 "Externally Hosted CSS For HTMl Exported Tiddlers"
Suppose you export a tiddler, about 1 page of text as html to share with a non wiki user with internet access. A single page might be 30kb but 14-18kb of that is just CSS. If you share 5 that is a bunch of extra overhead. Suppose you are using skinny tiddlers and you want for some reason share 100 in a zip, that extra css is starting to add up. I think having the option to point css to a hosted so

[2020-11-19 06:22] bigredrobot opened #5072 "[IDEA] Exported HTML Tiddler Width Sidebar Options"
If you export a tiddler and the side bar is open, the resulting html will display a blank space at right where the sidebar would be.

If the tiddler is exported with the sidebar closed, the result will be a full width html tiddler.

Another option is to view in new window where the tiddler shows at full width.

I’m thinking it would be nice to either remove the sidebar width or to have an option t

[2020-11-19 06:45] kookma commented on #5071
I think if you are on Node.js + Tiddlywiki you can export tiddlers as static pages and having external CSS to be shipped with exported pages or link to a CDN of a file on the net is simple.

But for people using single html file version, it is good to have a configurable Export specially to .html

[2020-11-19 08:01] saqimtiaz opened #5073 "[IDEA] format:number filter operator"
We should consider adding a `format:number[]` filter operator for formatting numbers according to locale settings.

Eric has [done some work on this](https://groups.google.com/g/tiddlywiki/c/avkbQnEd1UI/m/_sz6sEeFBwAJ) as a macro that relies on [Intl.NumberFormat](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/NumberFormat)

[2020-11-19 08:10] saqimtiaz commented on #4699
As of 5.1.23 you can use the `:filter` run prefix to do the following:

`{{{ [tag[Review]] :filter[get[review_count]compare:number:geteq[5]] }}}`

@hoelzro @Jermolene I suggest that we can close this issue.

[2020-11-19 08:13] Jermolene commented on #4699
Thanks @saqimtiaz

[2020-11-19 08:14] #4699 closed

[2020-11-19 08:42] Jermolene opened #5074 "[IDEA] Add a generic event trapping widget"
In a project I'm working on I need to display tens of thousands of relatively small, simple tiddlers in a container DIV. Users need to be able to click on a tiddler to perform actions on it. The simplest solution is to wrap each tiddler with a button or link widget, but doing so has a significant impact on rendering performance. It is proposed to add a new event trapping widget that caters for thi

[2020-11-19 08:59] saqimtiaz commented on #5074
@Jermolene I would be very happy to have something like this in the core. It basically gives us event delegation in TW. For application building it is incredibly useful. I am kicking myself for not thinking of this approach :)

I have similar performance problems in my [Streams](https://saqimtiaz.github.io/sq-tw/streams.html) plugin, where I have a plethora of button widgets around single line tid

[2020-11-19 09:08] Jermolene commented on #5074
Great thanks @saqimtiaz. Getting this into shape for the core has been on my todo list for a while so it would be great if you could pick it up.

[2020-11-19 09:24] saqimtiaz commented on #5074
@Jermolene will do.

So we are on the same page, here is my TW to-do list for the weekend:
- work on system tiddler sync
- extend `<$action-log>` widget with some more options and also expose it as `<$log>`
- work on `<$trap>`
- resolve broken offline snapshot for tiddlyweb saver

[2020-11-19 09:26] Jermolene commented on #5074
Thanks @saqimtiaz that's great. Perhaps at the start of next week we should come up with a timetable for v5.1.23. This is a good time to review any outstanding blockers for the release.

[2020-11-19 09:28] saqimtiaz commented on #5074
@Jermolene that sounds prudent. It would be a good time to announce a deadline for new PRs as well.

[2020-11-19 15:18] pmario commented on #5074
Shouldn't it be `<$event-trap` ... or something similar.

Just to be sure. This widget may be nested!

[2020-11-19 15:25] pmario commented on #5074
Since this pattern comes up very often now, IMO it should be part of the "base" `widget.js`.

[code]

also see: https://github.com/Jermolene/TiddlyWiki5/pull/5052#issuecomment-729220523 and [link to source](https://github.com/Jermolene/TiddlyWiki5/pull/5052/files#diff-10dbab80ae6e1067219cf5b2d25d69fd68bc382029e3056c37feb20ccf4d565cR83)

I can create a PR if you want.

[2020-11-19 15:29] Jermolene commented on #5074
I think #5052 concerns copying widget attributes, while here we're copying DOM node attributes.

[2020-11-19 15:29] pmario commented on #5074
The function may be called like this:

[code]

[2020-11-19 15:31] pmario commented on #5074
... uups. :)

[2020-11-19 15:59] #4829 closed

[2020-11-19 15:59] #4924 closed

[2020-11-19 16:00] Jermolene commented on #5074
Consistency with the `<$linkcatcher>` widget might suggest `<$eventcatcher>`.

[2020-11-19 16:02] saqimtiaz commented on #5074
@Jermolene good point, `eventcatcher` has my vote.

[2020-11-19 16:29] BurningTreeC opened #5077 "[IDEA] - Styles for narrow screens"
**Is your feature request related to a problem? Please describe.**
On narrow screens like smartphones some UI elements could get better positioning / less padding etc.

**Describe the solution you'd like**
- the right topbar should be more to the right
- the bottom tiddler margin should be smaller
- the tiddler-info-padding (left/right) should be smaller
- ... more? (ideas?)

[2020-11-19 16:41] kookma commented on #5077
Great idea!

I think one the best theme which consider most  of these is Notebook from https://nicolas.petton.fr/tw/project-manager.html
(Nicolas Petton). It is very handy on smart phone!

[2020-11-19 17:40] BurningTreeC commented on #5023
@Jermolene - I tried using `window.matchMedia` and listening for changes on the preferred color scheme and I got it working. I currently do this in startup.js, set a state tiddler (like $:/state/dark-mode) to true or false on startup and change it when the preferred color scheme changes.

In the colour macro then we can do `<$transclude tiddler={{{ [{$:/state/dark-mode}match[true]then{$:/config/Da

[2020-11-19 21:34] saqimtiaz commented on #2598
With the addition of the `enlist-input` operator this can be closed @Jermolene

[2020-11-19 22:19] saqimtiaz commented on #5022
@rubaboo the syncFilter for 5.1.23 has been modified so this change will no longer be necessary. Could you please close this issue?

[2020-11-19 23:44] pmario commented on #5023
I think switching between themes is already a button, that can be used that way. Do we really need complex CSS?

[2020-11-19 23:50] Jermolene commented on #5023
The rationale for a modal switcher is that it is outside the main page container in the DOM, and hence can't be disrupted by a faulty page layout.

[2020-11-20 02:52] joshuafontany commented on #5023
I love that there are system/media-query hooks to use. I implemented this as a sidebar button in my silat (martial arts) wiki: https://silat.chronicles.wiki

(Part of my PageTools plugin that I have to rework now that we have toggle[] and cycle[]. I also got a couple of good svgs to use there.)

[2020-11-20 05:46] kookma commented on #4769
@saqimtiaz  @BurningTreeC
Have a look at the simple solution provided by bimlas on the group

https://groups.google.com/g/tiddlywiki/c/-I6brIviJJs/m/F2kuhfPqAwAJ

[2020-11-20 14:00] #4431 closed

[2020-11-20 14:00] #5077 closed

[2020-11-20 14:12] #2598 closed

[2020-11-20 14:12] Jermolene commented on #2598
Thanks @saqimtiaz

[2020-11-20 16:17] kookma opened #5082 "[IDEA] Combo Search for TW 5.1.23"
**Is your feature request related to a problem? Please describe.**
The search box in the right sidebar (called standard searchbox) is the most used method for searching in Tiddlywiki or it will be used as first option when a user try to find something. It searches in title text and tag fields, but how if you want to find tiddlers tag with foo and bar, you need to switch to $:/AdvancedSearch.

**De

[2020-11-20 16:56] BurningTreeC commented on #5023
@Jermolene , I don't want to create a new issue for this question: why does the framed editor extract the background-color from the currently used palette and set it for the iframeNode and domNode, if we can style them through a Stylesheet, which makes it also easier to modify styles... ?

[2020-11-20 18:21] Jermolene commented on #5023
Hi @BurningTreeC the issue is that we can't style the contents of the iframe from the main stylesheet, so we style an off-screen text area and then copy the styles one by one.

[2020-11-20 18:26] Jermolene commented on #5082
Hi @kookma I would not be in favour of this approach for the core. I think there are a significant fraction of users who are unaware of filters; they are intended to be an advanced feature that is only required by users who are trying to do relatively sophisticated customisation. So, my concern would be that this specialised behaviour would be confusing for those users if encountered by accident.

[2020-11-20 18:27] BurningTreeC commented on #5023
Hi @Jermolene, thanks for the explanation, but I was fiddling around by commenting out the lines that set the background-color to the iframeNode and the domNode and still it works fine styling them via a Stylesheet

[2020-11-20 19:07] kookma commented on #5082
Hi @Jermolene I understand your concerns.

I just like to explain and clarify the idea: using combo search makes no changes for users who has gotten used to use sidebar search box as a standard search box! so for newbies or those who use Tiddlywiki as a simple note taking  nothing will change. but if somebody like to use it as a filter search he/she just need to start with `[`.

There are plugins

[2020-11-20 19:12] saqimtiaz commented on #5082
@kookma consider that the following is a valid filter but does not start with a bracket:

`HelloThere Community`

[2020-11-20 19:13] Jermolene commented on #5082
That's what I meant: under this proposal, if a user who is not interested in filters types `[` into the search box (perhaps because they want to search for a link they have made) they won't get the results they expect, and they are unlikely to guess why.

Hidden features like this are great for more advanced users that have opted into using them, but they are likely to be a pitfall for the less ex

[2020-11-20 19:27] kookma commented on #5082
@Jermolene
Thank you for clarification! I got your point.

[2020-11-20 19:27] #5082 closed

[2020-11-21 05:23] #5022 closed

[2020-11-21 10:26] saqimtiaz commented on #4660
There are two other options that should be considered apart from extending the `slugify` operator:

- we now have a quite powerful `search-replace` operator that could be used for very specific edge cases.
- For things like CSS class names, we extend the format operator, for example: `[<tiddler-title>format:classname[]]`

[2020-11-21 12:22] twMat commented on #4660
@saqimtiaz - interesting ideas but would they put the burden on the user to construct the transliterations? IMO that would be unfortunate.

Somewhat OT but maybe the slugify operator should be deprecated/replaced with a suffix to the `format` operator, i.e `format:slugify`? ... but then the OP here is still an issue.

Regarding you proposal for `format:classname` - how would this differ from a `sl

[2020-11-21 12:42] saqimtiaz commented on #4660
@twMat

Firstly the intent with my previous post isn't to necessarily supplant the ideas presented in this issue. Rather I am pointing out that we do now have more options that can be used until this issue is considered resolved.

Furthermore, any particularly complex transliteration rules could be handled by `search-replace` instead of adding too much complexity to the slugify operator.

Lastly I

[2020-11-21 13:00] twMat commented on #4660
The OP lists three use cases. Thus I'd like to see:

* url slugs  ---------> `format:slugify[]` (...or should probably be `format:slug[]`)
* field names -----> `format:fieldname[]`
* class names -----> `format:classname[]`

[2020-11-21 13:03] saqimtiaz commented on #4660
@twMat note that just like `slugify`, the output might not be unique for any of them. So for instance you cannot expect a unique classname from a tiddler title.

If we want to deprecate `slugify` it needs to be before 5.1.23 is released.

[2020-11-21 17:37] Jermolene commented on #4660
I agree that it would be good to add more options to the 'slugify' filter, but I don't see the case for deprecating it in favour of 'format:slugify'. Conversely, if there is an argument for doing so, why wouldn't we do it for 'uppercase', 'lowercase' etc.

I think the 'format' operator is there to match users expectations from using tools like Excel and some programming languages. It's a usage tha

[2020-11-21 17:44] Jermolene commented on #5023
Hi @BurningTreeC I think you might have authored the lines in question: 14003b0e88fa8378af71f499700c648fe2a3f3d7

[2020-11-21 17:47] BurningTreeC commented on #5023
Ouch, that was a mistake!

[2020-11-21 17:48] BurningTreeC commented on #5023
@Jermolene, I'll revert this with this PR here

[2020-11-22 07:39] rmunn commented on #5074
Not a fan of the proposed "trap" name, because I think non-programmers would look at it and go, "So, what does that do? The name tells me nothing." I like "eventcatcher" much better.

[2020-11-22 13:27] BurningTreeC commented on #5072
@Jermolene @saqimtiaz @pmario - can we do something about this?

[2020-11-22 13:40] pinysuse commented on #4879
Thanks again @Jermolene and @pmario for taking care!

[2020-11-22 13:43] saqimtiaz commented on #5072
@BurningTreeC I think the template used is `$:/core/templates/exporters/StaticRiver`

[2020-11-22 13:47] BurningTreeC commented on #5072
Yes @saqimtiaz , I was looking at it... Still I have to figure out how to solve this issue

[2020-11-22 14:15] kookma commented on #5072
I think the template for exporting and creating static pages can be highly optimized! I have tried exporting static pages using JZIP with some custom templates like holly grids and TW shows good performance! BUT the task is tedious as selecting a template and customizing elements with current setup is tedious.

So I may propose a more in depth improvement for exporting html files / static pages.

[2020-11-22 20:43] #3445 closed

[2020-11-22 20:44] Jermolene commented on #5023
Thanks @BurningTreeC

[2020-11-22 20:47] #5074 closed

[2020-11-22 20:54] Jermolene commented on #5072
Hitherto we've been able to share exactly the same CSS between the interactive and static presentations of TiddlyWiki. The recent rise in our usage of wikitext to generate CSS makes this a bit harder.

One solution might be to introduce a mechanism to enable us to make sections of the stylesheet conditional upon static output. It would have to be driven by a variable so that we could render static

[2020-11-22 21:12] #2986 closed

[2020-11-22 23:44] LucaPanofsky commented on #4182
Hi,
I agree with @ValdikSS suggestion:

https://github.com/neocities/neocities/pull/196#issuecomment-522339266

[2020-11-23 00:36] zhangaz1 opened #5093 "[Question] How to do debugging?"
is there a way to debug the tiddler/macro/widget?

[2020-11-23 01:55] AnthonyMuscio commented on #5023
Folks,

Beyone simple nioght day switching - I support that.

Using this filter invert gives me the clue I was looking for, a way to get Icons to be given contrasting colors. Without even knowing the color one can use its rotated hue.

_ Somehow I feel this feature could be built into svg display or designs to allow a primary colour to be selected freely knowing its background as an example will c

[2020-11-23 01:56] AnthonyMuscio commented on #5023
Post script, eg using traffic light colors to indicate button status etc...

[2020-11-23 03:18] zhangaz1 opened #5094 "[Question] Is there a different process to the WikiText between widget attribut and content?"
example test use three tiddler, json below, save and import to preview.

[tiddlers.json.txt](https://github.com/Jermolene/TiddlyWiki5/files/5580997/tiddlers.json.txt)

[2020-11-23 04:31] rmunn commented on #5071
In some compression formats, identical data found in multiple files can be stored (and compressed) just once, and each compressed file would end up containing a reference to the shared data, so in those formats having the CSS duplicated wouldn't cause the compressed file to be larger. But in the ZIP format, each file is compressed separately, so the duplicated data would indeed cause the final ZIP

[2020-11-23 08:21] saqimtiaz commented on #5093
@zhangaz1 in the soon to be released TiddlyWiki 5.1.23 there are two widgets that can be used for debugging:
`action-log` and `log`.

They are available via the 5.1.23 pre-release at the moment:
https://tiddlywiki.com/prerelease/#ActionLogWidget:ActionLogWidget%20LogWidget

[2020-11-23 08:25] saqimtiaz commented on #5094
@zhangaz1 I've had a look and I am afraid I don't understand your question. Could you please try explaining it in a different manner perhaps?

[2020-11-23 11:48] kookma opened #5095 "[BUG] Import $:/Core to a Tiddlywiki does not show correct TW version"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1. Go to 'https://tiddlywiki.com/prerelease'
2. Open $:/ControlPanel and then Plugins
3. Drag and drop $:/Core from https://tiddlywiki.com/prerelease to any open Tiddlywiki like https://tiddlywiki.com/
4. Import, save and reload
5. You see the new core has overwritten the old one
6. New create a tiddler with

[2020-11-23 11:55] saqimtiaz commented on #5095
@kookma I'm unable to look at this right away but as a general rule I would always recommend importing from the old version into the new one. This allows the upgrader modules in the new version to make any compatibility changes that might be needed

[2020-11-23 16:29] Jermolene commented on #5095
Hi @kookma just to explain what's going on: the version number of a TiddlyWiki file is taken from the line `<meta name="tiddlywiki-version" content="5.1.23-prerelease">` at the top of the HTML file, and not from the core plugin. If you check the control panel "Plugins" tab at step 7 in the OP you'll see that the plugin is indeed the newer version.

[2020-11-23 17:03] BurningTreeC commented on #5072
@Jermolene - I tried just adding a class `tc-static-story-river` and setting this in the vanilla base stylesheet:

[code]

this would already remove the right free space and make static tiddlers full-width

[2020-11-23 17:05] Jermolene commented on #5072
@BurningTreeC that sounds like a good solution for the moment.

[2020-11-23 18:41] kookma commented on #5095
Thank you @Jermolene!

[2020-11-23 18:41] #5095 closed

[2020-11-23 19:10] cipharius opened #5102 "[IDEA] Add mobile support for draggable tiddlers"
**Is your feature request related to a problem? Please describe.**
Draggable lists work well on desktop browsers, but are not supported on mobile web browsers.

**Describe the solution you'd like**
Additionally to `dragstart` and `dragend` events, listen for `touchstart`, `touchmove` and `touchend`.  `$:/core/modules/utils/dom/dragndrop.js` can be refactored so that same logic can be reused for bo

[2020-11-23 19:15] saqimtiaz opened #5104 "[BUG] Some characters in tiddler titles in pre-release are obscured."
**The bottom of some characters in tiddler titles is obscured.**

![image](https://user-images.githubusercontent.com/68092/100004698-286eef00-2dc8-11eb-9e33-45010dee7264.png)

Note the bottom of the character `g` in Plugins.
From: https://tiddlywiki.com/prerelease/#Plugins

![image](https://user-images.githubusercontent.com/68092/100004909-78e64c80-2dc8-11eb-9cb3-55a8ad629f03.png)
Or the `j` and `

[2020-11-23 19:15] saqimtiaz commented on #5104
@BurningTreeC do you know if we have made any CSS changes in this area?

[2020-11-23 19:17] Jermolene commented on #5102
Hi @cipharius the situation with drag and drop is a bit patchy across different platforms; for example, it does work on iPad since (I think) iOS 13, but it doesn't work on iPhones. What platforms are you interested in?

[2020-11-23 19:18] BurningTreeC commented on #5104
@saqimtiaz not that I know ... this is new to me

[2020-11-23 19:23] saqimtiaz commented on #5104
Everything is fine on tiddlywiki.com

[2020-11-23 19:29] BurningTreeC commented on #5104
@saqimtiaz I'll investigate - but I can't remember having changed anything in this direction. Maybe it's the new normalize.css we're using

[2020-11-23 19:33] saqimtiaz commented on #5104
@BurningTreeC thanks! It occurred to me that for the layout switcher I only focused on the modal and just copied your switcher code verbatim without testing it. Going to give it a quick test now to confirm it switches layouts as expected.

[2020-11-23 19:36] BurningTreeC commented on #5104
fingers crossed that it works @saqimtiaz

[2020-11-23 19:38] cipharius commented on #5102
I'm specifically interested in Android chrome browser support, so that I could use TiddlyWiki as PWA.

[2020-11-23 19:40] saqimtiaz commented on #5104
Switching layouts doesn't work! But I think the problem is not with the switcher but the underlying code. Sigh.

Will investigate after dinner. Sorry for going offtopic here.

[2020-11-23 19:41] Jermolene commented on #5102
Hi @cipharius this table suggests that recent Chrome for Android does support drag and drop:

https://caniuse.com/dragndrop

What version are you using?

[2020-11-23 19:44] BurningTreeC commented on #5104
@saqimtiaz - to this issue here: it may have something to do with the new font settings. They prefer the system-ui font now

[2020-11-23 19:48] saqimtiaz commented on #5104
@BurningTreeC manually changing the font family to the same as 5.1.22 didn't seem to help. Can you confirm that?

[2020-11-23 19:52] BurningTreeC commented on #5104
@saqimtiaz - I don't seem to have this issue

Linux, Google Chrome

![Bildschirmfoto_2020-11-23_20-51-02](https://user-images.githubusercontent.com/9407182/100008443-c6b18380-2dcd-11eb-8a91-fe7914b63e9c.png)

[2020-11-23 19:52] saqimtiaz commented on #5104
@BurningTreeC I think you may be right about the font. It seems like overriding it to the same value as 5.1.22 via the ControlPanel does not work:

![image](https://user-images.githubusercontent.com/68092/100008479-cf09be80-2dcd-11eb-8012-a08ceaef5f25.png)

[2020-11-23 20:01] cipharius commented on #5102
That's odd, attempting to drag items in draggable todo list example just scrolls the page, or when held too long, shows context menu. Searching online does not mention any caveats to take care of.

I just tested drag and drop example from MDN and it works. I think the issue here is that instead of initiating the drag when holding down on an item, it instead opens context menu for the link.

The MD

[2020-11-23 20:05] saqimtiaz commented on #5102
I can confirm that the MDN example works for me but drag and drop in TW does not. Chrome for Android 86

[2020-11-23 20:20] BurningTreeC commented on #5104
@saqimtiaz I believe this is because vanilla/reset sets those fonts on the body and it shouldn't do so

[2020-11-23 20:24] BurningTreeC commented on #5104
@saqimtiaz @Jermolene - so we should delete the block from vanilla/reset that defines those font-family styles on the body

[2020-11-23 20:27] saqimtiaz commented on #5104
@BurningTreeC It seems the reset is not the actual problem. The culprit seems to be the changes made in this commit by @pmario :
https://github.com/Jermolene/TiddlyWiki5/commit/4877891980f077c6c31e99cc6a9eb45b5d1230e1

[2020-11-23 20:29] saqimtiaz commented on #5104
The problem is intermittent in Firefox but a constant in Chrome. Reverting to the version of the ViewTemplate from before that commit resolves it. But I don't understand the reasoning behind that change well enough.

@pmario could you please take a look?

[2020-11-23 20:31] saqimtiaz commented on #5104
@BurningTreeC that might be a separate issue.

[2020-11-23 20:31] BurningTreeC commented on #5104
@saqimtiaz - great that you found the root of this problem. But there's still a problem with the fonts which we found here I think: deleting the fonts from ControlPanel->Appearance doesn't change anything on the current prerelease, because they are overridden by the ones in the vanilla/reset Stylesheet

[2020-11-23 20:31] BurningTreeC commented on #5104
You've been faster :grin:

[2020-11-23 20:32] saqimtiaz commented on #5104
@BurningTreeC suggest creating a separate issue for that.

[2020-11-23 20:35] BurningTreeC opened #5108 "[BUG] - vanilla/reset overrides fonts from vanilla/base Stylesheet"
**Describe the bug**
Changing the fonts in ControlPanel -> Appearance (current prerelease) doesn't have any effect because those fonts are overridden by the ones set in vanilla/reset on the body

**Solution**
We should remove the block that defines those fonts explicitely from the vanilla/reset Stylesheet

[2020-11-23 20:39] saqimtiaz commented on #5102
I suspect the difference might be explained by the fact that most draggable items in TW are links whereas the MDN example uses DIVs.

[2020-11-23 22:29] Jermolene commented on #5108
Hi @BurningTreeC @saqimtiaz good catch. In fact, we don't modify the reset stylesheet because it's from an upstream project. Instead, we override those declarations in base.tid (search for the word "belay", thanks Star Trek)

[2020-11-24 00:09] AnthonyMuscio commented on #5073
I know a filter operator would be handled via JavaScript however this is my prior work to make a macro for this if it of any help;

and self documented, the empty values could be extracted from local settings.

[code]

[2020-11-24 00:22] AnthonyMuscio commented on #5093
There are a lot of ways to introduce debugging methods in macros and wiki text, and with widgets just by making use of existing feature's. I do this a lot, I also build up my code testing as I go. You can make your own debug macro that tests for a debug mode setting and only displays additional content when in debug mode.

- There is also the preview mode on the editor see also the core plugin $:/

[2020-11-24 00:57] AnthonyMuscio opened #5110 "[IDEA] Short cut to wikification"
**Is your feature request related to a problem? Please describe.**
Macros and wiki text can become quite complex and messy when there is a need to Wikify a variable or macro result before use. The safest use of wikify is at the last moment and closed immediately after. This issue is frequently raised with new and even some advanced issue and commonly causes time wasted and confusion. The need to o

[2020-11-24 01:01] AnthonyMuscio commented on #5110
I just want to add, I have developed a comprehensive resource to support clarity with many of the TiddlyWiki features. The need to wikify is really an outlier and inconsistent with the other methods available.

See https://anthonymuscio.github.io/#Standard%20Nomenclature

[2020-11-24 01:08] AnthonyMuscio commented on #5110
In the following notes at https://anthonymuscio.github.io/#%E2%9D%B7%20Widget%20and%20HTML%20attributes%20or%20parameters

You see how we have to say;

attributename=value

A common use is to provide a parameter to the style attribute

- eg style="color: {{!!color}};" this will not work as we are expecting the parameter to be wikified before its use, it will not be.

As a result you need to
- cons

[2020-11-24 01:16] AnthonyMuscio commented on #5058
Yes, great idea, but without making it a big job just documenting a few values for the regexp and splitregexp that apply to common tiddlywiki use cases would be a good start.

eg; \n \t

Mohammad has started the Doco here http://tw-regexp.tiddlyspot.com/#Using%20Regexp%20in%20Tiddlywiki
and TT is well versed in this use of regex and endeavoured to do something similar in the past.

Words, sentence

[2020-11-24 01:37] AnthonyMuscio commented on #5058
Yes, great idea, but without making it a big job just documenting a few values for the regexp and splitregexp that apply to common tiddlywiki use cases would be a good start.

eg; \n \t

But yes, the filter visualizer is a larger project, as Jeremy did in the past the idea of a filter constructor similar to how excel assists the creation of a formulae can be the "end goal".

Mohammad has started t

[2020-11-24 01:59] AnthonyMuscio commented on #5013
The pre-release allows rename during import however I would see a lot of value being able to add a prefix to all tiddlers.

This makes me wonder if a new import UI could provide methods to apply a **filter** both to selection within the import list including acting on each tiddler within as if it were a tiddler. For example we could apply a filter that would rename a fieldname within every tiddler

[2020-11-24 06:02] kookma opened #5112 "[IDEA] Dark Palettes and Few Elements in Tiddlywiki does not follow Palette"
**Is your feature request related to a problem? Please describe.**
There are many beautiful dark palettes in Tiddlywiki 5.1.23 like Gruvbox, Cupertino, Nord, Spartan night,... but there are elements in Tiddlywiki and official plugins do not follow the palettes.

See below screenshots

**Panels in GettingStarted**
![092_chrome](https://user-images.githubusercontent.com/830394/100052966-4ffba100-2e3

[2020-11-24 06:03] kookma commented on #5112
For CodeMirror plugin I know one can install a dark palette but it is better to have customized and consistent colors for official plugins.

[2020-11-24 06:49] BurningTreeC commented on #5112
@kookma it's true that for the codemirror and highlight plugins we could provide the colors with the palette. I'll investigate a bit to see if it's worth the effort

[2020-11-24 08:48] saqimtiaz commented on #5108
@Jermolene do we also want to update `$:/themes/tiddlywiki/vanilla/settings/fontfamily` to match the new font-family declaration used in the reset stylesheet? The old reset did nit specify a font-family.

Currently we have:
`-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"`

Reset now has:
[code]

[2020-11-24 08:59] BurningTreeC commented on #5108
@saqimtiaz we do already have that setting like this in the current prerelease

[2020-11-24 09:04] saqimtiaz commented on #5108
@BurningTreeC apologies, I missed that.

So we just need to make sure we override the reset styles here:
https://github.com/Jermolene/TiddlyWiki5/blob/3d93790573fca8c41f65c6f1517007d4cb9d7549/themes/tiddlywiki/vanilla/base.tid#L93

I believe we need `html, body` ....

Reset applies the font-family style to `body`, and we may want to keep `html` as well to catch any edge backwards compatibility iss

[2020-11-24 09:18] pmario commented on #5104
@saqimtiaz   I thought I fixed the problem. see my comments at: https://github.com/Jermolene/TiddlyWiki5/pull/4859

I did change the line-height from 1.2em to 1.3em. ... That fixed the problem for me in FF

[2020-11-24 09:20] saqimtiaz commented on #5104
@pmario it is still an issue on Chrome. Could you please take a look?

[2020-11-24 09:20] pmario commented on #5104
yes

[2020-11-24 09:20] saqimtiaz commented on #5104
Thank you @pmario

[2020-11-24 21:15] #5108 closed

[2020-11-24 21:30] Jermolene commented on #5058
I found this example of annotating a regular expression that I thought was pretty effective:

![image](https://user-images.githubusercontent.com/174761/100153430-0181ed00-2e9c-11eb-9257-60bf36456c6f.jpeg)

The key thing is pulling the expression out into multiple lines that can be individually annotated. I think one could make a case for flipping it vertically, but it would be interesting to exper

[2020-11-24 21:36] Jermolene commented on #5110
Thanks @AnthonyMuscio.

Just to check, I think the idea here is to introduce a way for attribute values to be wikified before they are used. For example, if we used backticks as the syntax then this:

[code]

would give the variable "text" the value "v5.1.23" (etc).

I'd like to understand the use cases better, though, given that there a few existing alternative ways to achieve the same thing.

[2020-11-24 21:57] saqimtiaz commented on #5058
@Jermolene that is a good example indeed.

Here is a very quick attempt at doing something similar with a filter:

![image](https://user-images.githubusercontent.com/68092/100155927-60e5fa00-2ea8-11eb-873e-9e7cb0c35c23.png)

[2020-11-25 02:05] joshuafontany commented on #4761
This should be fixed by https://github.com/Jermolene/TiddlyWiki5/pull/5113. :)

[2020-11-25 02:08] joshuafontany commented on #4761
This should be fixed by https://github.com/Jermolene/TiddlyWiki5/pull/5113. :)

[2020-11-25 07:53] saqimtiaz commented on #3766
Lovely sentiment.

@Jermolene perhaps we could close this issue now?

[2020-11-25 07:57] saqimtiaz commented on #4107
@Jermolene do we still need this in light of the recent discussion at #4850?

[2020-11-25 07:57] saqimtiaz commented on #846
@Jermolene seems to be resolved long since and can be closed.

[2020-11-25 08:00] saqimtiaz commented on #2563
Just a bit of clarification here:

Dragging and dropping a link/button on to the editor inserts a [title list](https://tiddlywiki.com/#Title%20List) containing the tiddlers that are the payload for that element.

In a title list any titles with spaces are enclosed in double brackets. Titles without spaces are therefore inserted without brackets.
There is no specific behaviour to insert a link, it

[2020-11-25 08:02] saqimtiaz commented on #4972
@pmario @FlashSystems with the recent changes to the syncing of system tiddlers, saving the $:/StoryList and restoring it again works once more.

I have not been able to recreate the problem from the original post in the current pre-release.

[2020-11-25 08:04] saqimtiaz commented on #2887
As discussed in #4610 the new markdown plugin can be [configured](https://github.com/Jermolene/TiddlyWiki5/issues/4610#issuecomment-621709996) to allow syntax such as macros to work in Markdown tiddlers.

@Jermolene I suggest that we can close this issue.

[2020-11-25 10:03] Jermolene commented on #5058
Good stuff @saqimtiaz. I think we might need to include the punctuation characters in the breakdown because they are a major source of confusion.

I had a quick try in wikitext:

<img width="992" alt="image" src="https://user-images.githubusercontent.com/174761/100212530-5c036380-2f05-11eb-8410-c0ac3d40471f.png">

[code]

[2020-11-25 11:47] saqimtiaz commented on #5058
@Jermolene that is terrific, thank you. As you say we can do much more with the presentation too, making it interactive, tying in documentation etc.

In an ideal world we could re-use our existing filter parser but it would have to be done without a performance cost for filter compilation.

[2020-11-25 12:15] saqimtiaz commented on #5058
Executing in a browser console for a TiddlyWiki tab:
`console.log(JSON.stringify($tw.wiki.parseFilter("[tag{$:/MySpecialTag}has<field>get[text]!is[blank]]"),undefined,4));`

We get:
[code]

[2020-11-25 12:24] Jermolene commented on #5058
Snap @saqimtiaz I was about the post the same thing.

[2020-11-25 13:19] spinningarrow opened #5119 "[BUG] GitHub saver often fails with a 409 Conflict"
**Describe the bug**
I've set up the GitHub saver with auto-saving set to disabled. Saving succeeds sometimes, but quite often I get the "409 conflict" error message.

I'm using Safari on macOS Catalina.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup the GitHub saver
2. Create a new tiddler
3. Save it
4. Create another one
5. Save it

**Expected behavior**
Saving is always successful

[2020-11-25 14:23] saqimtiaz opened #5120 "[BUG] Remove TiddlySpot tab from Control Panel?"
With TiddlySpot in a read-only state and unlikely to return without major changes if at all, should we remove the saver tab for it from the Control Panel?

[2020-11-25 14:27] saqimtiaz commented on #5120
Alternatively we could add a status message there explaining the current state of affairs.

[2020-11-25 14:56] Jermolene commented on #5120
Perhaps lets add a warning banner for as long as there's a chance it's going to be fixed?

[2020-11-25 15:17] pmario commented on #5119
How long did you wait between your step 3. save and 5. save ... After a save the github server needs some time to process a background task, that publishes your wiki. .. For me it can take up to 2 minutes until a new write succeeds.

Depending on the server load I'm sure it can take even more time.

[2020-11-25 15:26] spinningarrow commented on #5119
@pmario I waited about half a minute, maybe 45 seconds? But I didn't understand what you mean by "publishes your wiki" - publishes it where?

[2020-11-25 15:30] saqimtiaz opened #5121 "[IDEA] Filter operator for inserting variables/references into text"
While we have a lot of text manipulation filter operators now, common uses cases like the following are still quite clunky:

`<span style={{{ [[color:]addsuffix{!!color_field}] }}}>`

I have a filter operator, which I've recently improved upon, which I previously did not think merited inclusion for the core. However, similar situations to the above example have come up very frequently in the last

[2020-11-25 15:34] saqimtiaz commented on #5119
Are you using Github pages to serve your wiki @spinningarrow

When you save to Github, after saving to the repository there is a build step that publishes your wiki to Github pages. Github pages is what allows you to load your wiki via *.github.io

This step can take anywhere from 30s to several minutes.

[2020-11-25 16:27] #5104 closed

[2020-11-25 16:31] spinningarrow commented on #5119
@saqimtiaz nope, I'm not using github pages for the repo, just using the repo to store the TW.

As I understand it, whether GH pages/something similar is being used or not shouldn't matter: once you load the TW in the browser, it uses the github API to talk to the repo directly and fetch the index.html. It does not fetch the published version even when there is one (unless you reload the TW browse

[2020-11-25 16:57] Jermolene commented on #5121
Awesome, makes a lot of sense. However, I worry that it might be inaccessible to people who are beginning with the filter syntax, and it introduces another language when we perhaps have too many already. I suggested elsewhere using backticks for attribute values that are to be wikified:

[code]

However, I'm not wild about this idea:

* Any accidental wikitext in the string will mess things up
* P

[2020-11-25 18:29] saqimtiaz commented on #5121
@Jermolene We are on the same page in that:
- I think wikify should only be used when absolutely necessary due to the performance implications, and that we should try to lead people towards alternative code patterns rather than make it easier to overuse wikify.
- My filter implementation is not easy to grasp for non-developers. Which is why I've never made a PR for it. It was loosely inspired by t

[2020-11-25 21:43] kookma commented on #5121
@saqimtiaz I do most of them using macros (text substitution) and filter operation. But I support your idea! I like the

[code]
or

[code]

I also understand Jeremy concerns to have the same philosophy as current filter operation/operators, but I think working with strings should be much simpler than what we have now!

[2020-11-25 21:46] kookma commented on #5120
I thought to some an advanced settings! For example in Google Chrome users see Settings which fit many users requirements but there is a button show advance settings which reveals some tabs and controls.

One solution here may be using an advanced setting checkbox when checked reveals other settings (show hidden tabs, ...)

[2020-11-25 22:35] AnthonyMuscio commented on #5110
Jeremy

The main use case is to remove the need to use the wikify widget just to clean values for use in filters and other places. The temr I like is to evaluate rather than wikify.

In your example above is it not equivalent to `<$text text=<<version>> >` I am not sure I understand your example.

Here is an example
[code]

- In the first list above the macro is not evaluated before use in the fil

[2020-11-25 22:49] AnthonyMuscio commented on #5110
Another thought is how we make use of the filtered transclusions, triple curly braces.

We are often forced to use <$text text={{{ filter }}}/> to display the result in a form that is not subsequently wikified into title links or ignore camel case. So an alternate approach may be wiki-markup that allows the content to be wikified and returned as text only.

A dummy example
Replace <$text text={{{

[2020-11-25 23:34] AnthonyMuscio commented on #5110
Sorry more has come to mind as a result of items in the forums

The substitutions such as $paramname$ and $(varname)$ do something similar within macros.

Perhaps a form of this could be used for evaluated in filters (not within macros) and in filters and wiki text?
In many ways this will be "intuitive", make use of existing mark-up standards.

Eg; extend the $(varname)$ to evaluate and replace wi

[2020-11-25 23:52] AnthonyMuscio commented on #5121
#5110 Perhaps inspiring consideration of this it is certainly related.

[IDEA] Short cut to wikification #5110

[2020-11-26 00:25] zhangaz1 commented on #5094
I mean that the $button tooltip and content use the same WikiText but we got different result (button text and it's tooltip when mouse hover)

[2020-11-26 00:33] zhangaz1 commented on #5093
@saqimtiaz & @AnthonyMuscio : thanks, I will to try.

is there a way to debug wikitext rendering like javascript "debugger;" symbol, to step in in browser devtool bar?

[2020-11-26 04:36] zhangaz1 commented on #5093
@AnthonyMuscio : I have try the plugin internals, it's very useful.

but I don't know how to do debug by these way:

* The <<transclusion>> variable and dump variables widget can help.
* The new widgets Saq mentions are good for action-widgets which are otherwise somewhat invisible.
* Using <$text text=<> /> is a common method, and may indicate you need to wikify a value before use.

[2020-11-26 07:53] Jermolene commented on #5120
Hi @kookma I think this might have been intended for a different ticket?

We do already have an "Advanced" tab in control panel that hides some functionality that's not useful for most people.

[2020-11-26 07:59] Jermolene commented on #2887
Thanks @saqimtiaz

[2020-11-26 07:59] #2887 closed

[2020-11-26 07:59] Jermolene commented on #4972
Thanks @saqimtiaz

[2020-11-26 07:59] #4972 closed

[2020-11-26 08:00] Jermolene commented on #846
Thanks @saqimtiaz

[2020-11-26 08:00] #846 closed

[2020-11-26 08:02] Jermolene commented on #4107
Thanks @saqimtiaz there was indeed resounding support for keeping the warning

[2020-11-26 08:02] #4107 closed

[2020-11-26 08:02] #3766 closed

[2020-11-26 08:03] Jermolene commented on #4761
I believe that if you put `fixes #5113` in the OP of the commit request then this ticket will be automatically closed when the OR is merged.

[2020-11-26 09:53] kookma commented on #5120
Sure, I will add a new ticket!

I forgot about that.

[2020-11-26 10:10] kookma opened #5124 "[IDEA] Overhaul of Tiddlywiki Settings"
**Is your feature request related to a problem? Please describe.**
Right now all the settings can be accessed by opening the $:/ControlPanle. Are all of these required for normal users?  Of course there is an Advanced Tab which used by superusers.

**Describe the solution you'd like**
A propose a setting page like Chrome

![image](https://user-images.githubusercontent.com/830394/100337247-63ea0300

[2020-11-26 10:20] saqimtiaz commented on #5124
Also see #4957

[2020-11-26 10:22] kookma commented on #5124
@saqimtiaz should I close this issue and move comments to #4957

[2020-11-26 10:23] saqimtiaz commented on #5124
@kookma if you don't mind, it will be easier to have everything in one place :)

[2020-11-26 10:23] kookma commented on #5124
Sure!

[2020-11-26 10:23] #5124 closed

[2020-11-26 10:25] kookma commented on #4957
###  [IDEA] Overhaul of Tiddlywiki Settings #5124

**Is your feature request related to a problem? Please describe.**
Right now all the settings can be accessed by opening the $:/ControlPanle. Are all of these required for normal users?  Of course there is an Advanced Tab which used by superusers.

**Describe the solution you'd like**
A propose a setting page like Chrome

![image](https://user-ima

[2020-11-26 10:27] kookma commented on #4957
Some other Setting pages to get idea

#### Windows 10
![109_ApplicationFrameHost](https://user-images.githubusercontent.com/830394/100339423-19b65100-2fef-11eb-85de-f80a5868aeb8.png)

Note the  search in setting on the top right

#### GitHub
![108_%pn](https://user-images.githubusercontent.com/830394/100339464-263aa980-2fef-11eb-9f1a-bdd54888e350.png)

[2020-11-26 10:44] kookma commented on #4957
Note: Using sub pages like figures above makes Tiddlywiki Control Panel pages work better on small screen devices.

Worth have a look on the below discussions

- https://ux.stackexchange.com/questions/48214/best-layout-for-a-settings-page
- https://uxdesign.cc/designing-a-better-settings-page-for-your-app-fcc32fe8c724
- http://designinginterfaces.com/patterns/settings-editor/

[2020-11-27 21:37] #5119 closed

[2020-11-28 04:34] saqimtiaz commented on #4957
Also see #4507 wit ideas about search and find in settings.

[2020-11-28 04:35] saqimtiaz commented on #4605
@Jermolene this is resolved with the fix for system tiddler sync.

[2020-11-28 10:03] saqimtiaz opened #5130 "Timeline for 5.1.23 release?"
@Jermolene perhaps now would be a good time to set a timeline for the 5.1.23 release so we can co-ordinate our efforts better?

I don't believe we have any blocking issues that need resolving.

~~We should decided if we want to add an upgrader module for dealing with the journal tags: https://github.com/Jermolene/TiddlyWiki5/issues/4721~~

There are a couple of almost ready PRs that would be good

[2020-11-28 10:21] BurningTreeC commented on #5130
@saqimtiaz we should definitely add an upgrader module for dealing with #4721

[2020-11-28 11:50] saqimtiaz commented on #5058
Just occurred to me that the filter parse tree looks a bit different in 5.1.23 pre-release with the support for multiple operands:

[code]

[2020-11-28 14:12] cipharius commented on #5102
I have found a workaround for this problem, perhaps it can give an idea how to properly handle draggable tiddler lists.

My setup is similar to the example draggable ToDo list except each item is wrapped in a div with attributes `<div draggable="true" class="custom-draggable">`.

Then have this script snippet with `$:/tags/RawMarkup` tag:

[code]

Now it's possible to drag list items on android ch

[2020-11-28 14:15] Jermolene commented on #5130
Hi @saqimtiaz @BurningTreeC I was also thinking about the four tickets that @saqimtiaz mentions in the OP, but I wasn't sure what we'd decided about #4721, and will leave a comment there.

My main task for this weekend is to bring the release note up to date and hopefully rearrange it a bit as the current categories aren't working so well with so many new items.

If all goes well with that, I shou

[2020-11-28 14:16] Jermolene commented on #4721
Hi @BurningTreeC did you implement the code to use both the text and the tags fields for the tags of new tiddlers? I think it's the best solution for the moment. If not, could you do so for v5.1.23?

[2020-11-28 14:17] BurningTreeC commented on #4721
Hi @Jermolene, yes the code to use both the text and the tags fields for the tags of new tiddlers/journal tiddlers is implemented

[2020-11-28 14:20] saqimtiaz commented on #4721
@Jermolene that code is in place, see #5060.

The question is if we also want an upgrader module to resolve the problem as well, as you [suggested earlier in this thread](https://github.com/Jermolene/TiddlyWiki5/issues/4721#issuecomment-728979104)?

[2020-11-28 14:22] Jermolene commented on #4721
Cool, I'm inclined not to bother with the upgrader because it'll have limited impact given that it doesn't run for Node.js upgrades.

[2020-11-28 14:24] saqimtiaz commented on #5120
@BurningTreeC would you have the time for this? I'm still a bit under the weather so it is easier for me to co-ordinate and review than make actual PRs.

 Basically we want to add a message via the lingo mechanism at the top of the TiddlySpot saver.

Something along the lines of: "TiddlySpot service may currently be available as read only. Please see http://tiddlyspot.com/ for details"

[2020-11-28 14:25] saqimtiaz commented on #4721
@Jermolene this is then resolved and can be closed, as well as #4871

[2020-11-28 14:25] BurningTreeC commented on #5120
Ok @saqimtiaz , I'll have a look

[2020-11-28 14:25] #4721 closed

[2020-11-28 14:25] #4871 closed

[2020-11-28 14:26] saqimtiaz commented on #5120
Thank you @BurningTreeC

[2020-11-28 14:52] saqimtiaz commented on #5130
@Jermolene perhaps you could also check if you can reproduce this issue on OSX:
https://github.com/Jermolene/TiddlyWiki5/commit/6c98bb706a15b353a92895529a69bece11f613ff#commitcomment-44594409

I was not able to reproduce it in Chrome on OSX, Windows or Linux.

[2020-11-28 14:55] saqimtiaz commented on #5102
@cipharius thank you for that. It helps confirm that the issue is indeed the contextmenu being triggered on links instead of drag.

Another workaround could be to wrap the links in a `<$draggable>` widget to create the div, removing the need for the extra JavaScript: https://tiddlywiki.com/#DraggableWidget

[2020-11-28 15:16] cipharius commented on #5102
@saqimtiaz Thank you, I'm still finding my way around TiddlyWiki architecture.

Using DraggableWidget I got this task template:
[code]

While this works on desktop, for some reason on mobile it adds extra `[[` and `]]` around the tiddler title. Same with `title={{!!title}}`.

[2020-11-28 16:41] twMat commented on #4957
This might be a good time and context to consider "searchable keywords", i.e words that are specifically added for the sake of findability but that are not (necessarily) part of the tiddlers text or the tags.

I've called for a "keywords" feature previously and created [searchwords](http://searchwords.tiddlyspot.com/). The Controlpanel is a *particularly* good use case because all users must deal

[2020-11-28 17:02] saqimtiaz commented on #5102
@cipharius So the draggable widget payload is a [title list](https://tiddlywiki.com/#Title%20List) rather than a tiddler title. In a title list any tiddler title with spaces is enclosed in double brackets.

So the key here would be handling the title list (and brackets) in the actions that occur when the drag ends. Are you using a droppable widget? If you post the entire code for your draggable li

[2020-11-28 17:09] saqimtiaz opened #5136 "[IDEA] Prevent double rendering when $:/core/ui/PageTemplate is open in the story"
It can be quite disconcerting when a user has `$:/core/ui/PageTemplate` open in the story, that the page appears to have a double rendering and in some cases the sidebar becomes unusable. In particular this is a barrier to users that want to edit and customize the page template in the browser via the TiddlyWiki UI:

See for example this report:
https://github.com/Jermolene/TiddlyWiki5/commit/6c98b

[2020-11-28 17:11] saqimtiaz commented on #4957
@twMat yes this thought has occurred to me as well when thinking of adding the ability to search within the Control Panel. I am planning to work on a settings UI for my Streams plugin after the TW 5.1.23 release and use that as an opportunity to test some UI ideas for the core control panel.

[2020-11-28 17:16] saqimtiaz commented on #5094
@zhangaz1 when you assign a value to an attribute it is used in its raw form.
However if you use the same value in the text field of a tiddler, it is wikified (evaluated) before being used.

If you have a development background then think of if this way.

[code]

when you write
`<$widget myattribute=<<hello>> >`
it is the same as `var myattribute = hello;`

However when you write in the text field

[2020-11-28 17:19] saqimtiaz commented on #5093
@zhangaz1 if you are thinking of debugging in JavaScript with breakpoints, we do not have anything like that for wiki text.

However you can use the widgets <$action-log> and <$log> to see how the values of your variables change in a block of wikitext or actions.

[code]

[2020-11-28 17:21] saqimtiaz commented on #5070
The `ActionLogWidget` is an `ActionSetFieldWidget` adapted to log to the browser console for easier debugging.
A version of the `ActionLogWidget` that writes to a tiddler is therefore the `ActionSetFieldWidget`.

[2020-11-28 18:13] Jermolene commented on #5136
Hi @saqimtiaz I've been thinking about that too. While the double sidebar issue is unique to the page template, viewing many core templates is pretty unhelpful at present.  One potential solution is a generic mechanism for marking tiddlers so that the view template displays them with a different template.

The "obvious" solution would be an optional "view-body-template" field that is used instead

[2020-11-28 18:51] saqimtiaz commented on #5136
I like this idea. It would allow for instance, filter tiddlers to be displayed with the filter visualization tool we have been discussing.

I'll pick this thread up again after 5.1.23.

[2020-11-28 20:53] joshuafontany commented on #5136
This is kind of what I was aiming for with PR https://github.com/Jermolene/TiddlyWiki5/pull/4681

I don't think this is the way to go (but it was a fun experiment). Still, having a way to customize the view and edit templates without relyting on a field on each tiddler would be excellent to have available in the core.

[2020-11-28 21:12] Jermolene commented on #5136
Yes indeed @joshuafontany I should have referenced that PR. The other thing I hope to get done for v5.1.24 is a new flexgrid-based layout that supports multiple story views. One could imagine wanting to use different view templates for different story rivers (eg my own notes are in one column as skinny as possible, stuff I've imported is in another column with lots of visible metadata about where

[2020-11-28 21:16] Jermolene commented on #5130
I'm just pinging other contributors of this release to let you all know our plans to finalise v5.1.23 shortly.

This is a good time to test your plugins etc against the prerelease, and bump any PRs you'd like to see merged for v5.1.23.

@adithya-badidey
@Arlen22
@bimlas
@BramChen
@BurningTreeC
@danielo515
@ento
@favadi
@fkohrt
@flibbles
@gera2ld
@ibnishak
@idotobi
@jdangerx
@jjduhamel
@Kamal-Habas

[2020-11-28 21:21] saqimtiaz commented on #5136
@Jermolene I would be happy to help with testing/refining the flexgrid-based layout, as well as making sure that my Stories plugin is rewritten for it. That would serve as a good example of leveraging the flexibility of the layout.

My Stories plugin does support different view templates for each story river btw, but honestly everything about the CSS/layout is currently kludgy by necessity and I v

[2020-11-28 21:22] #5120 closed

[2020-11-28 21:42] saqimtiaz opened #5137 "[IDEA] filter operator to pad a string to given length"
I've needed this a few times and mostly recently for something that might be a candidate for the core.

I am not sure what the best name for the operator would be suggest something of the form `[[...input...]pad[length],[optional-character-to-pad-with]]`

`[[12]pad[5]]` => `00012`

`[[12]pad[4],[-]]` => `--12`

[2020-11-28 21:45] Jermolene commented on #5137
Great idea. Zero padding numbers to a given length might be another usecase, but perhaps that's better dealt with by a format:number operator?

[2020-11-28 21:50] saqimtiaz commented on #5137
@Jermolene yes `format:number` is one option. Also most filters assume strings as input/ouput so treating a number like a string and zero padding it would work for most use cases too.

What operator name would you suggest? `pad`?

I wrote the following a while ago for personal use. I can try to clean it up for a PR in the next day or two:

[code]

[2020-11-28 21:51] Jermolene commented on #5136
I'll publish what I've got as soon as we get v5.1.23 out. One part I haven't addressed yet is the UI to let users add/remove columns, and also to set their width, and grow/shrink behaviour.

Yes indeed, I've spent far too long wrestling with the current layout. It'll be fun to work on trying to get things neat and flexible.

By the way, one big consequence of using flexgrid is that I haven't yet f

[2020-11-28 21:54] Jermolene commented on #5137
Thanks @saqimtiaz. `pad` is reasonable. I think your implementation might return a string longer than the specified length if the pad string is more than one character?

[2020-11-28 21:55] saqimtiaz commented on #5137
@Jermolene yes that is correct and I'll tweak that before submitting a PR. This is something that was quickly whipped up for personal use where I knew the pad string would never be a single character.

[2020-11-28 21:56] Jermolene commented on #5137
Thanks @saqimtiaz otherwise I think this is just what we need.

[2020-11-29 01:01] zhangaz1 commented on #5093
@saqimtiaz got it, thanks!

[2020-11-29 01:01] #5093 closed

[2020-11-29 01:08] zhangaz1 commented on #5094
@saqimtiaz
* attribute value wikitext invoke once immediately
* text value wikitext invoke delay to render and invoke until the value is not wikitext
is it right?

[2020-11-29 11:06] BurningTreeC opened #5142 "[IDEA] - External attachments plugin should work with dropzone widget"
**Is your feature request related to a problem? Please describe.**
When I have the external attachments plugin installed (TiddlyDesktop) and I drop a file into my wiki, the external attachments plugin should catch in and import the file like it does using the import button

[2020-11-29 11:06] saqimtiaz commented on #5137
@Jermolene thinking about it this morning, ensuring the correct length is a bit tricky when the string to pad with can be of variable length:

1. we can ensure that the final string is never longer than the specified length, but it could end up shorter. `[[12]pad[7],[abc]]` can be `abc12` (5 characters) or `abcabc12` (8 characters)
2. or we can pad with a part of the padding string only to get the

[2020-11-29 12:13] Jermolene commented on #5137
Hi @saqimtiaz interestingly, JavaScript's "padStart/padEnd" methods actually seem to do the second option:

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart

There might be something to be said for sticking with existing JS semantics.

[2020-11-29 12:15] Jermolene commented on #5142
Hi @BurningTreeC the external attachments plugin currently just uses the `th-importing-file` hook to transform tiddlers as they are imported. Are you asking for the import process to be automated so that no manual intervention is required?

[2020-11-29 12:15] Jermolene commented on #5142
One thing that might be useful would be to be able to drag a directory into the wiki in order to create _canonical_uri tiddlers for every file in one step.

[2020-11-29 12:18] BurningTreeC commented on #5142
Hi @Jermolene , no I'm asking for the dropzone widget to invoke the th-importing-file hook and therefor making the external-attachments-plugin do the import ... if that's possible somehow

[2020-11-29 12:19] BurningTreeC commented on #5142
That would be very useful @Jermolene

[2020-11-29 12:22] Jermolene commented on #5142
The dropzone widget just fires the same `tm-import-tiddlers` event as the file browse widget, and the navigator widget handles it by firing off the import process.

I think I'm still missing something though, what is the objective here?

[2020-11-29 12:29] BurningTreeC commented on #5142
I'll explain it step by step: If I import a file into TiddlyDesktop with the external-attachments-plugin installed and I use the "Import" Button, then the `th-importing-file' hook gets invoked and the external-attachments-plugin imports the file using the `_canonical_uri' field, it leaves the file externally. But if I drag a file into the same wiki, a file `Untitled` gets created with the text-con

[2020-11-29 12:41] Jermolene commented on #5142
Hi @BurningTreeC I've not encountered that behaviour, it seems like a bug. Does the distinction between dragging and using the import button only happen in TiddlyDesktop?

[2020-11-29 12:47] BurningTreeC commented on #5142
@Jermolene - If I try the same file on FireFox, the file gets imported using the Import Button. But if dragging the file into the wiki, the tiddler "Untitled" gets imported with the text-content same as above (`file:///path_to_file.extension`)

OS: Linux

[2020-11-29 12:47] saqimtiaz commented on #5102
@cipharius it also occurs to me that the `<$link>` widget supports a "tag" attribute so we could also try having the link rendered as a `div` or `span` instead as well, avoiding the need for the `<$draggable>` widget.

[2020-11-29 12:49] saqimtiaz commented on #5094
@zhangaz1
- attribute value wikitext like tag={{!!foo}} is only fetched and assigned. It it only *get value*
- the same wikitext in the text of a tiddler is fetched and rendered/wikified. It is *get value* and then *render/wikify value*

[2020-11-29 12:56] BurningTreeC commented on #5142
@Jermolene - Sorry for the confusion, I've just found out that this is a desktop-specific bug. It works fine when I switch to my Standard Linux-Desktop. It just doesn't work using the sway window-manager, seems that they have a drag-and-drop bug

[2020-11-29 12:58] Jermolene commented on #5142
Phew! That's a relief. Happy to try to look at workarounds we could incorporate if the problem isn't going away.

[2020-11-29 13:00] BurningTreeC commented on #5142
Thanks @Jermolene! I'll report the bug at the swaywm repo

[2020-11-29 13:00] #5142 closed

[2020-11-29 14:40] cipharius commented on #5102
I tried changing tag of link widget and I still get the issue, where extra `[[` and `]]` are added. My whole setup looks like this:

TaskTemplate:
[code]

WikiText for the list:
[code]

My intent is to group tasks by project and let the tasks have different order in each project.

[2020-11-29 15:39] rmunn commented on #5130
Thanks for nudging me to create #5144 finally, which should probably be merged in before 5.1.23 goes out. (See https://github.com/Jermolene/TiddlyWiki5/pull/5051#discussion_r524203257 for the reason behind #5144).

[2020-11-29 18:27] Jermolene commented on #5136
I wondered about picking up a trick from the way that we [customise the naming of tiddler files under Node.js](https://tiddlywiki.com/prerelease/#Customising%20Tiddler%20File%20Naming), and having a cascade of filters that are applied in turn until one of them returns a non-empty result, which is then used as the template for the tiddler.

We would need a new operator `mapfirst` that takes a list

[2020-11-29 21:58] dancingfrog commented on #3021
I would like to help resolve this issue, as well as tackle the problem of how to handle re-importing tiddlers that were previously imported and have not received new edits (and avoid losing edits to tiddlers in the target TiddlyWiki) . Any documention on when/how `loadTiddlersFromFile` and `new Tiddler(...)` get called by nodejs?

[2020-11-29 23:47] joshuafontany commented on #5136
I really appreciate how internally consistent yet flexible the approach to $:/config/FileSystemPath filters is. I had zero problems copying it to use as $:/config/FileSystemExtensions in my filesystemAdaptor PR. I like the idea of reusing this pattern or writing a core $tw.utils. method to build into a filter operator.

[2020-11-30 00:52] rmunn commented on #5136
I think this is the wrong PR number, as #5144 is only a documentation PR and makes no code changes. I've been unable to figure out which PR or issue you meant here.

[2020-11-30 02:59] saqimtiaz commented on #5136
I think #4681

[2020-11-30 04:03] rmunn commented on #5137
:+1: for sticking with existing JS semantics (i.e. option 2 among the ones that @saqimtiaz listed). And we should document the behavior of multi-character padding with text in the documentation tiddler *and* with examples. The ones at https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String/padStart#Examples and https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2020-11-30 04:20] saqimtiaz commented on #5137
@Jermolene @rmunn the PR for the operator is up: #5146

[2020-11-30 06:55] rmunn commented on #3811
#5149 is a PR for reviving #3836. Once it's merged, this bug can safely be closed, I think.

[2020-11-30 06:58] rmunn commented on #5130
Knowing that the 5.1.23 release is near has also spurred me to finally create #5149, reviving the documentation work done by @00SS and Watt on how to use anchor links in TiddlyWiki (see #3811 and #3836, as well as #4947, for background). Would be nice to get this into the release since the double-hash behavior is now specifically checked for in the code and guaranteed to work.

[2020-11-30 07:26] rmunn opened #5150 "[BUG] Anchor link targets "hide" under menu bar"
**Describe the bug**

When you click on an anchor link using the double-hash feature, the browser scrolls the anchor link location to the top of the visible window, where it promptly gets hidden by the (relatively new) menu bar. Depending on how the anchor was created (separate `<a id="foo"></a>` tag above the header vs directly-embedded `id` attribute like `<h2 id="foo">Header</h2>`), the header

[2020-11-30 07:54] rmunn opened #5151 "[BUG] New enlist-input operator needs "dedupe" and "raw" suffixes like enlist"
**Describe the bug**
If the `list` field of a tiddler contains `1 2 2 3`, the filter `[[TiddlerName]get[list]enlist-input[]]` will return `1 2 3`, deduplicating the duplicate 2. This may or may not be what the user desires. I suggest adding `dedupe` and `raw` suffixes line the `enlist` operator has, so that the user can choose whether deduplication is desired or not.

As for which should be the de

[2020-11-30 08:15] rmunn commented on #5130
I'd also like #5151 (and PR #5152 which would fix it) to be considered.

[2020-11-30 08:21] rmunn commented on #5151
I ended up choosing for #5152 to default to deduplication, similar to how `enlist` works, because that's the normal, default behavior for filter operators. Anyone who needs things to *not* be deduped probably knows that and will know to use the `raw` suffix.

[2020-11-30 09:11] rmunn commented on #5150
@BurningTreeC - As the person who did the menubar work, you're probably going to be interested in this issue.

[2020-11-30 09:15] BurningTreeC commented on #5150
Hi @rmunn , the menubar is actually a plugin made by @Jermolene . I just did some CSS work

[2020-11-30 09:37] saqimtiaz commented on #5130
@rmunn looks we are missing some documentation for the `suffix` option added to the `trim` operator.
Could you please have a look?
https://tiddlywiki.com/prerelease/#trim%20Operator

[2020-11-30 13:34] Vingolf opened #5153 "[IDEA] Define button colours in every palette"
**Is your feature request related to a problem? Please describe.**
The combination of undefined button colours of some palettes<br> can cause confusing results<br> in combination with the emphasized theme and the tinka plugin.<br>(a white font on a white background color). <br>

**Screenshots**
See
[Emphasized theme and Tinka plugin style](https://groups.google.com/g/tiddlywiki/c/TLPFazvTzNQ/m/J9h

[2020-11-30 14:18] rmunn commented on #5130
I've added documentation for the suffix to the `trim` operator. As I was writing the documentation, it occurred to me that the values I chose for the suffix aren't necessarily ideal, and now's the time to change them if I'm going to change them, before we release and they're locked in. The values I chose were `prefix` to trim from the front, and `suffix` to trim from the end, to parallel the `remo

[2020-11-30 14:55] saqimtiaz commented on #5130
@rmunn normally I would strongly favour more layman oriented terms like `start/end`, but in this case I feel that consistency with `addprefix/removeprefix` etc is more important.

Otherwise I would favour `start/end` over `front/back`

[2020-11-30 17:19] pmario opened #5155 "[IDEA] widgets, that allow "actions" should be able to pass on "user defined" variables and attributes"
A reminder:

Widgets, that allow "actions" should be able to pass on "user defined" variables and attributes

See: Add actions parameter to radio-widget #5026

[2020-11-30 17:30] Jermolene commented on #5130
Thanks @rmunn @saqimtiaz I'm happy with prefix/suffix here

[2020-11-30 17:41] Jermolene commented on #5153
Hi @Vingolf leaving the button colours undefined causes browsers to retain their base styling to make the buttons match the underlying operating system. The OS-style buttons are generally preferred because they meet user expectations for the look and behaviour of buttons.

For example, here is an iPad with the "Vanilla" palette, where the buttons look like buttons:

![image](https://user-images.gi

[2020-11-30 17:43] #5137 closed

[2020-11-30 17:51] Jermolene commented on #5150
I've used this technique in the past, and it certainly might be worth experimenting to apply it here. The trouble is, of course, that the height of the menubar is only conveniently accessible in JavaScript (see https://github.com/Jermolene/TiddlyWiki5/blob/master/core/modules/utils/dom/scroller.js#L73-L77 for how we use when we do native TW navigation).

Parenthetically, working on the menubar plu

[2020-11-30 17:52] #5151 closed

[2020-11-30 17:55] Jermolene commented on #3811
Thanks @rmunn

[2020-11-30 17:55] #3811 closed

[2020-11-30 17:59] Jermolene commented on #5136
Yes sorry, I was indeed thinking of #4681, I've updated my post above

[2020-11-30 20:04] pmario commented on #5130
NEW PR: **Add actions parameter to range-widget + docs!** #5158

Old: #5052 Add range actions

[2020-11-30 21:41] silvyn opened #5160 "[BUG] Disable CamelCase don't work without reload"
Hello,

**Describe the bug**

On prerelease 5.1.23, disable automatic CamelCase don't work for me.

**To Reproduce**

Go to ControPanel
Uncheck Enable automatic CamelCase linking
And voilà, CamelCase are still alive.

**Expected behavior**
Of course, disable CamelCase link ;)

[2020-11-30 21:52] saqimtiaz commented on #5160
It looks like disabling automatic CamelCase works but requires a save and reload. Could you confirm that @silvyn ?

[2020-11-30 21:57] saqimtiaz commented on #5160
In fact, I get the same behaviour at https://tiddlywiki.com/ so in version 5.1.22

[2020-11-30 21:59] silvyn commented on #5160
Hi @saqimtiaz yes it's true. Save and reload work.

Arf, so if it's on 5.1.22 it's not 5.1.23 ;) (but I'm wrong of thinking it was not necessary before ?)

[2020-11-30 22:01] saqimtiaz commented on #5160
@silvyn honestly I don't remember what the behaviour for this has been like in the past. So I am not sure if it is a regression or the expected behaviour.

[2020-11-30 22:09] Jermolene commented on #5160
It's not a regression, I'm afraid. Global disabling of parser rules is accomplished at the JavaScript module level, and hence requires a restart.

[2020-11-30 22:11] saqimtiaz commented on #5160
@Jermolene that makes sense and I rather think it is good news that it is not a regression.

@silvyn could you please close this issue?

[2020-11-30 22:13] silvyn commented on #5160
Thanks, I've just read the worning indeed. Sorry !

[2020-11-30 22:13] #5160 closed

[2020-12-01 00:38] rmunn commented on #5130
Okay, I'll leave it as-is with `prefix`/`suffix` being valid suffix values for `trim`. In which case no further action is needed on the `trim` operator.

Which means I've finished submitting all the PRs I want to get in before the release. Unless there's another bug or missed bit of documentation that I need to fix, all my stuff is in.

[2020-12-01 02:10] rmunn commented on #5130
There was one bit I missed in the `trim` suffix documentation: it should mention that the suffix was introduced in 5.1.23. #5161 has that change.

[2020-12-01 03:29] rmunn commented on #5150
I've played with the demo layout from https://github.com/Jermolene/TiddlyWiki5/issues/4473#issuecomment-598181323 and I already love it. This would be my vote for a top-priority item for TiddlyWiki 5.1.24 (though it might be a big enough change to warrant a 5.2.0 version number): being able to control the number of left/right/top/bottom sidebars, and/or have multiple story rivers open at once, wou

[2020-12-01 03:47] rmunn commented on #4473
Found a couple very interesting side effects of anchor links in the new layout demo from https://github.com/Jermolene/TiddlyWiki5/issues/4473#issuecomment-598181323. Basically, anchor links will scroll *down* to bring the new item into view (at the correct position) but won't scroll *up*. Tested on Firefox and Chromium on Linux, both by clicking links and by typing the appropriate hash part into t

[2020-12-01 04:43] saqimtiaz opened #5162 "[BUG] Tiddler opening position in story is incorrect in 5.1.23 pre-release"
As reported [here](https://groups.google.com/g/tiddlywiki/c/i_rzRBDZvn4), the setting for where in the story the tiddler is opened, is not respected.

I believe this bug was introduced in #4200

`Navigator.prototype.addToStory` calls `Story.prototype.addToStory` with [4 arguments](https://github.com/Jermolene/TiddlyWiki5/blob/master/core/modules/widgets/navigator.js#L131) whereas it [accepts only

[2020-12-01 05:39] BurningTreeC commented on #5162
@saqimtiaz this is indeed a bug introduced by my PR. I'll add a fix shortly

[2020-12-01 08:07] saqimtiaz opened #5166 "[IDEA] :sort prefix and extensible filter run prefixes"
Just as the `:filter` filter run prefix provides an inline alternative to the `filter` operator, it would be desirable to have a `:sort` filter run prefix where the list is sorted by comparing the results of applying the filter run to each list item. This would be an inline alternative to the `sortsub` operator.

`[tag[HelloThere]] :sort[get[text]length[]] `

instead of:

[code]

However, we curre

[2020-12-01 08:53] rmunn commented on #5166
Not only that, there's also `sortan` for alphanumeric sorting, there's reverse sorting (high to low instead of low to high)... it could get very complicated very fast.

I strongly dislike the idea of having suffixes for filter run prefixes (`:sort:number` and so on). Definite comprehension issues for new users. If there's enough benefit to add a `:sort` prefix, then it's worth adding all of the va

[2020-12-01 09:06] saqimtiaz commented on #5166
@rmunn the feeling is mutual about suffixes for filter runs and comprehension. The sort options I listed are the ones supported by the `sortsub` operator rather than the `sort` operator.

As for the utility of the sort prefix, I find filters written inline **far easier to read, comprehend and maintain**.

Yes that is the issue and that is why this is an issue for discussion rather than a PR. I rea

[2020-12-01 09:11] rmunn opened #5168 "Why no tm-set-field message?"
Reading through the list of available messages, I'm puzzled that there's a tm-add-field message to add a field with empty contents, but no tm-set-field message (which would set the value of the field and also create it if it didn't yet exist). You can set the contents of a field with a button widget or an ActionSetFieldWidget, so why is there no tm-set-field message counterpart to those widgets?

[2020-12-01 09:26] rmunn commented on #5166
So are you going to end up creating a prefix version of every filter that takes a subfilter argument, like `reduce`, so that it can be written inline?

As for a third alternative, I'm not seeing one. I think you'll just have to implement a separate filter prefix for every possible variant, finding appropriate names. (Though implementation can just have one implementing function and all the others

[2020-12-01 09:34] saqimtiaz commented on #5166
@rmunn unless I can think of a better implementation, this will likely be a plugin for personal use and as such I would only write the prefixes that I find myself needing. With the way that I use TW that is pretty easy to plan in advance.

As you say the sheer number of prefixes required would make this a non-starter as a public plugin.

Part of the reason I wanted to bring this up now before 5.1.

[2020-12-01 16:50] BurningTreeC opened #5170 "[BUG] - x-listops.js throws Syntax Error on Internet Explorer"
**Describe the bug**
Using IE 11 on startup there's a RSOD saying "Syntax Error in x-listops.js"
I can't track the problem down since the Konsole doesn't show anything, but maybe @saqimtiaz has an idea what could be the problem?

[2020-12-01 17:23] saqimtiaz commented on #5170
@BurningTreeC could you please confirm that #5171 resolves it for you?

[2020-12-01 17:24] BurningTreeC commented on #5170
I'll give it a try @saqimtiaz

[2020-12-01 17:31] BurningTreeC commented on #5170
Yes @saqimtiaz , #5171 resolves the issue on IE

[2020-12-01 18:13] Jermolene commented on #5170
Thank you @saqimtiaz @BurningTreeC

[2020-12-01 18:14] #5170 closed

[2020-12-01 18:20] Jermolene commented on #5166
I like the idea of making things like "reduce" available in inline form. Having a profusion of filter prefixes doesn't feel bad because we can already be confident that the vast majority of users need never learn about their existence.

[2020-12-01 18:24] Jermolene commented on #5168
Hi @rmunn the `tm-add-field`, along with the associated `<$fieldcatcher>` widget is an ancient kludge from the very, very early days of TW5. It is on my list for things that should be deprecated when we get to v5.2.x on the understanding that everything could be done with the `<$action-setfield>` widget. But perhaps there are usecases still?

[2020-12-01 18:36] saqimtiaz commented on #5166
@Jermolene I'll do some prototyping post 5.1.23 and we can then discuss the merits while looking at some code.

[2020-12-01 21:08] rmunn commented on #5168
Probably not; I was just browsing through the list of messages trying to understand some of TW's internals that I don't fully have my head around, and whether they could be beneficial to my project. Given that the action widgets do everything that the field mangler widget does but do it better, I'm :+1: on deprecating it.

[2020-12-01 21:10] Jermolene commented on #5168
Now that it's come up, perhaps we should start flagging features as deprecated more clearly. I think @pmario made some contributions on this.

[2020-12-02 04:39] rmunn commented on #5168
The way to flag things as deprecated is to add the `$:/deprecated` tag and place the `<<.deprecated-since "version" "See here instead">>` macro in the tiddler text, right? If so, see #5174 for a (minor) spelling fix to the deprecation warning.

[2020-12-02 04:58] rmunn opened #5175 "[BUG] "Custom styles by title" tiddler needs updating"
Just quick bug report about something I intend to fix later, but don't have time for right now.

**Describe the bug**
The "Custom styles by title" tiddler mentions using the `data-title` attribute in CSS to style specific tiddlers differently, but at some point since that was written, the attribute became `data-tiddler-title`. The example still styles correctly because its CSS was updated to use `

[2020-12-02 04:59] rmunn commented on #5175
Never mind; I was looking at an old version of the wiki when I wrote that. The current version has the updated example text.

[2020-12-02 04:59] #5175 closed

[2020-12-02 05:55] AnthonyMuscio opened #5177 "[IDEA] Extend Range operator to allow hex incrementals"
**Is your feature request related to a problem? Please describe.**
Unicode and html entities and other systems make use of hex values. There is however then need to readily convert between hex and decimal with a macro but incrementing hex number is unwieldly.

**Describe the solution you'd like**
I would be nice if the range operator or a new rangehex operator could increment hex numbers one or mo

[2020-12-02 12:21] #5162 closed

[2020-12-02 13:35] Jermolene opened #5178 "[BUG] Shortcuts for switching tabs in advanced search clash with macOS text editing shortcuts"
**Describe the bug**
The default `input-tab-left` <kbd>alt-Left</kbd> and `input-tab-right` <kbd>alt-Right</kbd> clashes with core macOS text editing shortcuts that are available in every browser:

See https://support.apple.com/en-gb/HT201236#text

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://tiddlywiki.com/prerelease
2. Click on the magnifying glass next to the search box t

[2020-12-02 14:01] BurningTreeC commented on #5178
@Jermolene I think it's appropriate to change it for Mac

[2020-12-02 16:52] saqimtiaz commented on #4858
@CodaCodr I cannot replicate this either on Firefox 83 on Windows 10. Could you confirm if the error still occurs?

I think Jeremy was wondering if you might have browser addons that are interfering.

[2020-12-02 16:55] #5178 closed

[2020-12-02 17:28] CodaCodr commented on #4858
Sorry sorry sorry.

Yes, I did figure out eventually what Jem was refrring to. It was Tampermonkey tampering with things it shouldn't.

I can confirm dynannotate is working extremely well

Closing.

[2020-12-02 17:28] #4858 closed

[2020-12-02 17:41] kookma opened #5182 "[BUG] Autosave does not work correctly in 5.1.23pre"
**Describe the bug**
Autosave seems does not work in all occasions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tiddlywiki.com/prerelease/#Empty%20Edition
2. Download the latest empty.html of today  Dec 2nd
3. Open the new empty.html and from control panel / saving select **Save changes automatically**
4. Create a tiddler and save it
5. Refresh browser, you see new tiddler i

[2020-12-02 18:11] CodaCodr commented on #5121
Seems there's a lot of co-thinking going on here - Saq, TonyM, Jeremy, me (https://groups.google.com/g/tiddlywikidev/c/KHQOFBzsbXQ/m/wVsTJ-eTCAAJ). If I left anyone out, sorry, I'm just catching up.

I'm not invested in backticks, but I don't see a workable alternative that so easily reduces the syntax noise of transcluded filters.

@saqimtiaz I think the wikify step should be included - but perha

[2020-12-02 19:04] CodaCodr commented on #5121
@saqimtiaz @Jermolene

I kind of agree. So to avoid wikification, if the core were to make currentTiddler's fields _preformed variables_ (much like macro args become `<<__arg__>>`), that would be one step closer to having "almost both":

```<span style=`<<my-prop>>:<<core-prepared-field-var>>` >my span</span>```

Unless, of course, there's a huge cost to doing that - I have some "data only" tiddle

[2020-12-02 20:03] pmario commented on #5182
Do you use a "saver addOn"? I can not reproduce the problem, becaucs Edge doesn't save at all. The default saver creates empty (1,2,3..) files.

[2020-12-02 20:46] kookma commented on #5182
Hi @pmario  Yes, I use Timimi.
To make sure if the issue is with Edge, I repeated this test on FF and Chrome and they work fine. All of them uses Timimi saver addon.
I also realized when I deleted a plugin (I tested with KaTex) the autosave does not work and I have to save manually.

So do you think this is related to save addOn?

[2020-12-02 21:46] Jermolene commented on #5177
Hi @AnthonyMuscio there are a couple of other ways we could handle this that wouldn't be restricted to the range widget:

* Introduce an operator that converts hexadecimal numbers to decimal. For example `[[FFFF]parse:int[16]multiply[3]]`
* Extend the parsing of numeric constants to accept hexadecimal notation prefixed with `0x` (for consistency with JavaScript). For example `[[0xFFFF]multiply[3]]

[2020-12-02 22:09] saqimtiaz commented on #5177
At some point I wrote some simple filters for decimal<->hex conversions. Perhaps these might be helpful in the interim:

[code]

[2020-12-02 22:42] saqimtiaz opened #5186 "[IDEA] Better CSS for nested ordered lists"
([via google group user request](https://groups.google.com/g/tiddlywiki/c/ZWwNlhR-9N8))

We should consider improving the styling of nested ordered lists, or at least include in the core a class or two that can be used to switch the presentation without end-users needing to write their own CSS.

Currently nested ordered lists present as
![image](https://user-images.githubusercontent.com/68092/1009

[2020-12-02 23:46] joshuafontany opened #5187 "[BUG] RSOD with any call to $tw.utils.getEditionInfo in the browser"
**Describe the bug**
Red-screen error "Uncaught TypeError: $tw.utils.getEditionInfo is not a function" whenever `[editions[]]` or `[editiondescriptions[]` is called (from the $:/AdvancedSearch Fitler tab, for example).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the $:/AdvancedSearch Filter tab.
2. Enter exactly "[editions[]]"

Results: RSOD Error above

It's weird because
[code]
d

[2020-12-03 02:09] joshuafontany commented on #5187
I just fond the documentation stating that these filter functions are not available in the web browser. In which case should be treated as unknown filters, i.e. [field:editions[]]/[field:editiondescriptions[]]?

[2020-12-03 02:40] AnthonyMuscio commented on #5155
Mario,

For clarity, actions can reference existing variables, or define there own or make use of $(varname)$ if inside a macro. What "user defined" variables and attributes are you thinking about? and where will they surface?

Tony

[2020-12-03 02:55] AnthonyMuscio commented on #5136
I have not followed every branch of this discussion, however please consider this.

I have commonly used in code tiddlers something like the following;
[code]
Then I do not see the result rendered when opening the code tiddler, because it can be misleading and cause the problem mentioned in the OT.

However I also have a showcode utility that hides the body and shows the un-rendered content (only)

[2020-12-03 07:24] kookma opened #5188 "[BUG] Compare Tiddlywiki 5.1.23pre and 5.1.22 for adding Tags"
**Describe the bug**
It seems TW 5.1.23 is slower in adding tags compared to TW 5.1.22. See below screen recording, the measured time is 4 seconds more for TW 5.123 (15 vs. 19).

**Screen Recordings**
![TW5 1 22](https://user-images.githubusercontent.com/830394/100976845-5a651b80-3555-11eb-914c-4d947b79fb3e.gif)
![TW5 1 23](https://user-images.githubusercontent.com/830394/100976912-75d02680-3555-1

[2020-12-03 08:11] BurningTreeC commented on #5188
@kookma this lag depends on system performance and yes, it's more obvious when there are many tags. The problem is the tagpicker setting focus on the input field right after adding a tag, which makes the tag-dropdown reload the full tags-list

[2020-12-03 08:15] Jermolene commented on #5188
Thanks @kookma @BurningTreeC this seems like it could impact a lot of users. I wonder if there's any potential mitigations?

My first thought is probably too complicated: that in the case that the new tag text input receives focus via the keyboard that we don't display the dropdown until the user types something, or clicks on the arrow.

I'll do some performance analysis when I get back to my desk

[2020-12-03 08:16] Jermolene commented on #5136
Hi @AnthonyMuscio indeed, techniques like that are the best we have at the moment. Here we're exploring alternatives that avoid the need to modify a tiddler in order to change how it is displayed.

[2020-12-03 08:17] Jermolene commented on #5187
Hi @joshuafontany I guess the more consistent thing might be for those operators to return empty lists?

[2020-12-03 08:17] Jermolene commented on #5187
I meant to add "in the browser":

[2020-12-03 08:18] Jermolene commented on #5186
To make it discoverable, perhaps we should have a dropdown under theme tweaks?

[2020-12-03 08:19] BurningTreeC commented on #5188
@Jermolene - my first thought was making it configurable if the tags-input should get focus right after adding a tag

[2020-12-03 08:20] BurningTreeC commented on #5188
@kookma @Jermolene - there's still the `$:/config/Tags/MinLength` setting that would help here

[2020-12-03 08:22] Jermolene commented on #5188
One consideration is that displaying the dropdown on focus is very useful when using the mouse.

[2020-12-03 08:24] BurningTreeC commented on #5188
Yes, indeed.

[2020-12-03 08:27] BurningTreeC commented on #5188
@kookma @Jermolene - I wonder if `retain="yes"` on the tags-dropdown would speed things up a little

[2020-12-03 08:31] BurningTreeC commented on #5188
@kookma - could you try changing the line 73 (in $:/core/macros/tag-picker):

from:

[code]

to:

[code]

and see if that has a performance impact in your tests?

[2020-12-03 08:46] saqimtiaz commented on #5186
@Jermolene yes indeed, that is a good idea. A dropdown that changes the default styling of ordered lists would be an excellent way to go about it.

[2020-12-03 08:47] saqimtiaz commented on #5186
@BurningTreeC any chance you might be able to look at this? Would be great to get it into 5.1.23 as I believe it's a small change that can make a significant usability difference.

[2020-12-03 08:53] BurningTreeC commented on #5186
@saqimtiaz I need to have a look how the CSS part needs to be done, but I can try

[2020-12-03 08:54] saqimtiaz commented on #5186
@BurningTreeC this might be of help:
https://support.knowledgeowl.com/help/customize-nested-numbered-list-styles
https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working

[2020-12-03 08:55] BurningTreeC commented on #5186
Thank you @saqimtiaz , I will have a look this evening

[2020-12-03 09:21] saqimtiaz commented on #4605
@Jermolene bump. Is resolved and can be closed.

[2020-12-03 09:22] saqimtiaz commented on #5029
@pmario can this be closed?

[2020-12-03 09:46] rmunn opened #5189 "[IDEA] Suffix for stringify and jsonstringify to not escape Unicode characters"
**Is your feature request related to a problem? Please describe.**
The `stringify` and `jsonstringify` filter operators escape Unicode characters in addition to escaping characters like `"` and `\` and newlines. While this is useful for portability (it ensures that the resulting string contains only ASCII characters and is therefore safe to read in any context), it may be overkill for some use cas

[2020-12-03 10:55] BurningTreeC commented on #5188
An idea would be a setting that shows the tags in the tags drop down as simple text if set to yes and show the tag pills in all other cases. That has a significant performance impact

[2020-12-03 11:08] #5029 closed

[2020-12-03 11:23] pmario commented on #5155
see:  discussions at: #5026

[2020-12-03 11:31] kookma commented on #5188
@BurningTreeC, @Jermolene
I was not at my desk, I will give a try using your suggestion and back to you

[2020-12-03 11:31] bimlas commented on #4473
Although this is only partly related to the topic, see if it can give you ideas:

I created a theme that, instead of using a single large CSS, loads CSS components that only perform a specific task. Components can use settings, the interface required for this is defined by the component itself. I store the current settings in a theme tiddler that lists what components it uses and includes the comp

[2020-12-03 11:39] kookma commented on #5188
Testes, has not sensible effect. It seems the step tag is added (after selection) is the slowest!
See screen recording (time after  18.87s befor 19sec)

![TW5123_retain_yes](https://user-images.githubusercontent.com/830394/101013377-6ebb0f80-3579-11eb-8693-92112aa63c0d.gif)

[2020-12-03 11:45] kookma commented on #5188
I set the `$:/config/Tags/MinLength` to 3. So it will does not show the tags with one or two chars but the difference is considerable!!! **before: 19sec, after:12 sec**

![TW5123_minlength_3](https://user-images.githubusercontent.com/830394/101014024-6fa07100-357a-11eb-8778-b2e7acb920ff.gif)

Note that there is no drop down before entering 3 chars, this will cutdown the number of tags to be displa

[2020-12-03 11:57] Jermolene commented on #5188
Hi @BurningTreeC I did some quick profiling with Chrome of repeatedly displaying and hiding the tag dropdown in tw5.com. It seems that there's quite a lot of parsing overhead. I would expect that to be because the tag rendering is making a lot of use of macros, rather than transcluding separate tiddlers. Macros have to be parsed afresh each time they are needed, and the results of parsing can't be

[2020-12-03 11:59] kookma commented on #4473
@bimlas
Your modular approach is highly appreciated. TW itself is modular, see how simple one can add a sidebar tab by assigning proper tag to a tiddler. Why not having this for theme!
Right now the Tiddlywiki Theme hacking is out of knowledge of most beginner and intermediate users, one reason is the complexity of css is used. So I recommend your approach and hope we could have a similar design f

[2020-12-03 12:03] BurningTreeC commented on #5188
@Jermolene I think that's doable

[2020-12-03 16:38] BurningTreeC commented on #5188
@Jermolene, if I understand you right, you'd like to replace the `tag-button` macrocalls that call the `tag-pill` macro with a separate, transcluded tiddler, is that right? As far as my testing goes, the `tag-pill-inner` macrocall is needed, the others can be replaced

[2020-12-03 16:42] BurningTreeC commented on #5188
P.S. I think my system is too fast to measure a performance change

[2020-12-03 16:55] kookma commented on #5188
@BurningTreeC  the above tests were done on a Core-i7 with 8GB of RAM, but if you have higher RAM like 32GB, then the difference is considerable.

[2020-12-03 16:55] BurningTreeC commented on #5188
@kookma - would you mind testing this file, if you have time?

[tag_picker_speed.zip](https://github.com/Jermolene/TiddlyWiki5/files/5637615/tag_picker_speed.zip)

[2020-12-03 19:49] kookma commented on #5188
@BurningTreeC  - I tested the revised code and it seems it has better performance. In this test, it took around 14.25 sec which is comparable to TW 5.1.22 (repeated test for 5.1.22 is 12.47sec)

See screen recording
![TW5 1 23_New](https://user-images.githubusercontent.com/830394/101080430-08a4ab80-35be-11eb-97aa-dee60adf197a.gif)

[2020-12-03 21:18] Jermolene commented on #5189
Hi @rmunn that's a good idea, do go ahead and prepare a PR if you can.

[2020-12-03 21:19] Jermolene commented on #4605
Thanks @saqimtiaz

[2020-12-03 21:19] #4605 closed

[2020-12-03 21:41] saqimtiaz commented on #5130
Update: everything mentioned here as needing consideration has been resolved.

[2020-12-03 21:50] Jermolene commented on #5130
Thanks @saqimtiaz. I want to explore #5188 a little more but otherwise I agree we seem to be in good shape.

[2020-12-03 21:52] saqimtiaz commented on #5130
@Jermolene yes agreed on #5188. My comment was not meant to suggest that we should proceed to release, rather just a status update on everything mentioned here.

You may also want to take a look at [this feedback from the Google group.](https://groups.google.com/g/tiddlywiki/c/dZmp1gQivJI/m/IAWmYhN2AAAJ)

[2020-12-03 21:57] Jermolene commented on #5130
Thanks @saqimtiaz I'd forgotten about the issue @bimlas raised with custom search tabs.

[2020-12-03 22:54] pmario commented on #5130
I've no problem, if the release needs more time. I'll need it for my plugins too ;)

[2020-12-03 23:38] saqimtiaz commented on #5094
@zhangaz1 please read the explanations in this thread as they address the exact same problem:
https://groups.google.com/g/tiddlywiki/c/YCdcBV88h_g

If you now understand the difference please close this issue. Thank you.

[2020-12-04 01:33] saqimtiaz opened #5190 "[IDEA] reduce operator: initial value from second operand."
Use an optional second operand for the initial value for reduce, so that variables and references can be used to assign it.

@Jermolene if we want to support this we should make the change before 5.1.23 goes live.

[2020-12-04 03:39] rmunn commented on #5130
I expect to get in a PR for #5189 within the next 24 hours; if I don't think I'll make that deadline, I'll let you know.

[2020-12-04 03:40] rmunn commented on #5189
I can probably get a PR done for this within the next 24 hours.

[2020-12-04 03:50] rmunn commented on #4473
@bimlas -

Just posted a comment on your wiki, but got a notice saying that Disqus comments are "currently in maintenance mode" so I'm not sure you saw it. So I'll reproduce it below.

[2020-12-04 05:44] saqimtiaz commented on #5130
I think it might be prudent to not release 5.1.23 until after the weekend. There will be users that are unable to test during the working week, and there are still small issues being reported.

[2020-12-04 06:05] BurningTreeC commented on #5188
Thanks for testing @kookma! @Jermolene performance profiling shows that with your suggested changes we are again at the same performance level like 5.1.22 - we gain half a second for each dropdown rendering in my tests

[2020-12-04 06:33] BurningTreeC commented on #5130
That issue evolves from my changes regarding keyboard driven tab switching. I couldn't find another way to do it than by adding the `configTiddler` variable.

[2020-12-04 06:55] BurningTreeC commented on #5188
P.S. I'm on a very performant Linux system so performance gains might be bigger on less performant systems

[2020-12-04 07:05] bimlas commented on #5130
There is no problem with that. What is strange is that configTiddler is available in `$:/core/ui/DefaultSearchResultList` but not in a custom search results, although both are transcluded by `$:/core/ui/SideBarSegments/search`, in which configTiddler is defined.

//Later...//

Ok, I've got it: The title of the currently selected search results tiddler is the value of configTiddler. Based on this,

[2020-12-04 07:17] BurningTreeC commented on #5130
Thanks @bimlas , I'll have a look

[2020-12-04 07:42] rmunn commented on #5190
I like it. The suffix was used because the reduce operator went in (IIRC) before we added the possibility of having two operands, and a second operand is much more flexible.

[2020-12-04 07:50] bimlas commented on #5130
I found another problem that worked in 5.1.22 but not in 5.1.23: if you create a tiddler from the search text with the following search results tiddler, it will delete the text from search input (text of `$(searchTiddler)$`) in 5.1.22, not in 5.1.23.

[code]

In the console, it appears that the text is being deleted, but the search input still shows the previous text, and when I click it, the popu

[2020-12-04 07:51] rmunn commented on #5189
While creating the PR, I discovered that the escaping in jsonstringify is wrong! Actually, the escaping for stringify and jsonstringify is backwards. The [JSON spec](https://www.json.org/json-en.html) only allows `\u` escapes (with exactly four hex digits) where as the [Javascript spec](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String#Escape_notation) allows

[2020-12-04 08:08] bimlas commented on #5130
Just tried out to replace "action-setfield" by "action-deletetiddler", got the same results.

[2020-12-04 08:15] BurningTreeC commented on #5130
@bimlas that might be because of the new search mechanism not updating or deleting a state Tiddler. I'll have a closer look this evening

[2020-12-04 09:01] rmunn commented on #5130
#5191 is the PR for #5189.

[2020-12-04 09:05] rmunn commented on #5189
PR: #5191

I fixed the documentation for `\x` while I was at it (the stringify operator uses `\x`, the jsonstringify operator doesn't). If the release is much delayed, I can submit a PR against tiddlywiki-com making that swap in the documentation, but that would create a merge conflict later on when master is merged into tiddlywiki-com to update the documentation. Since the issue would almost neve

[2020-12-04 09:10] BurningTreeC commented on #5130
There is in fact no text in the searchTiddler. But there's a second Tiddler used to store the text input used for the keyboard driven input dropdown mechanism. You would need to delete also that Tiddler @bimlas...

[2020-12-04 09:18] BurningTreeC commented on #5130
@bimlas looking at your gif, you'd also need to delete the Tiddler $:/temp/search

[2020-12-04 09:47] rmunn opened #5192 "[IDEA] Drop support for Internet Explorer after 5.1.23 release"
**Is your feature request related to a problem? Please describe.**
[Microsoft will no longer support Internet Explorer starting August 17, 2021](https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666), and in fact their Microsoft Teams feature has already stopped supporting IE11 as of November 30, 2020. Supporting Internet

[2020-12-04 09:54] rmunn commented on #5130
I'd like to mention that I'm planning to give a small "lightning talk" presentation to my colleagues about TiddlyWiki next week, on Thursday December 10th. I plan to show off some 5.1.23 features when I do; if I can tell them "this is the latest release" rather than "this is the prerelease that's about to get released Real Soon Now" then I think it will go over a bit better. :-)

[2020-12-04 10:03] saqimtiaz commented on #5192
Perhaps canvassing opinion on Google Groups about IE support would be helpful as well. Opinions expressed here will always lean more towards the tech savvy side.

[2020-12-04 11:24] bimlas commented on #5130
@BurningTreeC

You are right. If I use `$:/temp/search` instead of `$(searchTiddler)$`, then it works as expected.

[code]

[2020-12-04 11:42] BurningTreeC commented on #5130
@bimlas the searchTiddler's title has changed in 5.1.23... It's `$:/state/search/input` now. By that Tiddler the dropdown is sorted and the Tiddler `$:/state/search` is updated with the selection using up and down arrow keys

[2020-12-04 11:48] bimlas commented on #5130
@BurningTreeC,

Then we should indicate this to the plugin makers / users, because it's a breaking change.

Found another small problem: The search results counter shows incorrect value.

5.1.23:

![image](https://user-images.githubusercontent.com/7034200/101159654-067a3580-362e-11eb-9b4c-70b4bf9a1a6d.png)

(type only spaces)

5.1.22:

![image](https://user-images.githubusercontent.com/7034200/101

[2020-12-04 11:59] BurningTreeC commented on #5130
No worries @bimlas , better late than never

[2020-12-04 12:04] BurningTreeC commented on #5130
@bimlas in this case, I think the 5.1.22 behavior is a bug. The dropdown shows exactly 500 matches because both the title and the all matches are limited to 250

[2020-12-04 12:06] saqimtiaz commented on #5130
@BurningTreeC should we perhaps trim[] the entered text before searching and checking minlength? Or at least a leading trim?

[2020-12-04 12:16] bimlas commented on #5130
I think you’re half right, but then we should change the text next to the counter because it’s not clear: 500 matches -> 500 listed

To quickly find out the number of existing, non-system tiddlers. :)

[2020-12-04 13:19] Jermolene commented on #5130
I'm hoping we might be ready very early next week, but let's see how things go over the weekend.

[2020-12-04 13:20] #5189 closed

[2020-12-04 13:34] saqimtiaz commented on #5130
#5193 should be considered for merging. Tweaks the new reduce[] operator replacing the suffix with an optional second parameter to set the initial value.

[2020-12-04 13:45] BurningTreeC commented on #5130
Yes I'm just half right, sorry it was just my first thought. My second is that I'll change it to show all matches, not just the listed ones

[2020-12-04 13:51] BurningTreeC commented on #5130
@Jermolene I have three things on my list which I will tackle these days: the tags-dropdown-speedup, the codemirror brackets and selection highlighting and the counter on the search results list. Probably a fourth one in documenting the new behavior of the search dropdown

[2020-12-04 14:41] BurningTreeC commented on #5130
@bimlas , what do you think is the right behavior for the count - matches Button : showing the count of all matches with or without de-duplication? By that I mean - should dropdown items that are shown twice be counted twice or just once?

[2020-12-04 14:49] Jermolene commented on #5192
Thanks @rmunn.

Our de facto policy with respect to IE for some time has been to not knowingly break the compatibility we've already engineered, but not to test IE support in any concerted manner.

My rationale is that although it is probably rare by now for home users, IE is still widely dispersed in corporations for use with crusty old internal apps, some of which will be based on TW5.

It might

[2020-12-04 15:12] saqimtiaz commented on #5190
@rmunn @Jermolene a PR is up: #5193

If we want to make this change the sooner the better before 5.1.23 goes live.

[2020-12-04 18:30] Jermolene commented on #5190
Great idea, thanks @saqimtiaz

[2020-12-04 18:30] Jermolene commented on #5130
Great, thanks @BurningTreeC

[2020-12-04 18:31] #5190 closed

[2020-12-04 18:32] Jermolene commented on #5188
Thanks @BurningTreeC @kookma

[2020-12-04 19:13] Jermolene opened #5199 "Introduce shortcut syntax for transclusion passing parameters via variables"
There has been some recent [discussion](https://github.com/Jermolene/TiddlyWiki5/issues/5188#issuecomment-737896712) (and the subsequent PR #5195) about the poor parsing performance of macro calls compared to transclusions. In particular, the result of parsing each tiddler is cached and reused next time if the tiddler hasn't changed (the same technique can't be used for macro calls because they ar

[2020-12-04 19:39] BurningTreeC commented on #5188
@kookma , could you test the current prerelease and see if this issue is solved for you?

[2020-12-04 19:59] saqimtiaz commented on #5199
@Jermolene Overall I am very much for this proposal.

I am somewhat unsure about the _positional parameters_ and the _parameters field_ in the target tiddler. It would be introducing an entirely new concept and cognitive overhead for users. Unless it offers some advantage that I am not thinking of at the moment I would prefer that _named parameters_ be used. This way the same template tiddler coul

[2020-12-04 20:29] kookma commented on #5188
@BurningTreeC  Is this the latest to test?

[2020-12-04 20:59] flibbles opened #5201 "[BUG] makeTiddlerIterator in v5.1.23 is using $tw.wiki"
**Describe the bug**
Most everything uses `options.wiki` or `this.wiki` with a wiki object it was passed, but makeTiddlerIterator is using $tw.wiki to lookup tiddlers for filter operations. This won't actually cause problems in production, but it did cause some of my unit tests for my filter plugin to fail. I can't create temporary $tw.Wiki objects and test filters against them anymore.

I'll leav

[2020-12-04 21:11] saqimtiaz commented on #5201
I pondered over this briefly when I did the refactoring but didn't forsee any issues with this implementation.

If we do want to avoid the reference to `$tw.wiki`, we would need to call the filter run prefixes with a second argument `self` which is the wiki object.

[2020-12-04 21:20] flibbles commented on #5201
Actually it's easier than that. We just need to use widgets.filter in `filterrunprefixes/and.js`. The annoying part is that all the unit tests aren't passing a widget. That's easily remedied by passing `{wiki: $tw.wiki, getVariable: function(){}}` to all the filterTiddlers calls in the testing framework (or maybe pass something more appropriate... like a widget). I can make a PR for this later ton

[2020-12-04 21:24] saqimtiaz commented on #5201
@flibbles yes that works too. My issue there was precisely that widget is currently an optional argument.

A PR would be most welcome. Note that the just added reduce.js has the same issue.

[2020-12-05 00:35] flibbles commented on #5201
PR in #5202.

[2020-12-05 05:37] kookma commented on #5188
@BurningTreeC , @Jermolene  Tested with Prerelease built from branch 'master' at commit ae5d78b4dd8024190dcd9334dcbd69f636884b20 of https://github.com/Jermolene/TiddlyWiki5 at 2020-12-04 19:16:21 UTC

I don't see any improvement comparing to https://github.com/Jermolene/TiddlyWiki5/issues/5188#issuecomment-738264203 even a little slower. This below test takes 13.4 sec. Of course all the reported t

[2020-12-05 06:39] saqimtiaz commented on #5188
@kookma I think what is in the pre-release now is the same code that yielded the performance improvement that you saw in https://github.com/Jermolene/TiddlyWiki5/issues/5188#issuecomment-738264203 and felt was comparable to 5.1.22.

[2020-12-05 06:43] saqimtiaz commented on #5199
Perhaps we also need to document the performance advantage of transclusions over macros at https://tiddlywiki.com/#Performance

[2020-12-05 07:14] kookma commented on #5188
Thank you @saqimtiaz for confirmation. Well yes, the two (TW 5.1.22 and 5.123) are almost the same, except the sensible lag (slowness) exactly after clicking a tag to be added.

[2020-12-05 07:19] saqimtiaz commented on #5188
@kookma do you find the current performance in pre-release acceptable compared to 5.1.22 or still too slow?

[2020-12-05 07:40] kookma commented on #5188
@saqimtiaz I think they are the same now, but a I said in my previous post, there is a sensible lag/slowness after clicking a tag and TW wants to add and go to the next tag pill!

[2020-12-05 09:21] BurningTreeC commented on #5188
@kookma @saqimtiaz - maybe we should restore the behavior that when clicking the tag from the dropdown, the focus is not automatically set to the tags input field right after ... that would also remove the lag @kookma is talking about. When choosing a tag via the keyboard the focus would still be set to the tags input right after

[2020-12-05 09:23] BurningTreeC commented on #5188
@kookma - how is the lag if you set the animation duration to 0?

[2020-12-05 10:15] kookma commented on #5188
@BurningTreeC  I can see difference between the two (0 animation duration and 400ms). But as I told above the $:/config/Tags/MinLength set to 3 has huge effect! I even set this value to 1 and again I got sensible difference!
See it clearly indicate that the processing is slow! Set $:/config/Tags/MinLength to 1 filters the list of tags to say all those start with a or any other letter.

My conclusi

[2020-12-05 10:41] BurningTreeC commented on #5188
@kookma - I have a little bit different version here:

[tag_picker_speed_2.zip](https://github.com/Jermolene/TiddlyWiki5/files/5646889/tag_picker_speed_2.zip)

It may be that you notice no difference at all... but it could be worth a try.

An alternative would be a control-panel setting that allows showing the tags in the tag-dropdown as plain text. Here's a version that shows the tags as plain te

[2020-12-05 10:55] kookma commented on #5188
@BurningTreeC
NEW TESTS

tag_picker_speed_2.zip  shows a lit bit faster than what I did on https://tiddlywiki.com/prerelease/
tag_picker_speed_3.zip around 3 faster.

[2020-12-05 10:59] BurningTreeC commented on #5188
@kookma - what would you prefer? An option in the control-panel to show the tags like in tag_picker_speed_3.zip or tag_picker_speed_2.zip?

[2020-12-05 11:00] saqimtiaz commented on #5188
I feel like a small performance difference is acceptable from 5.1.22, considering that in 5.1.23 the field is focused which saves time when adding multiple tags.

[2020-12-05 11:03] kookma commented on #5188
@BurningTreeC  I prefer tag_picker_speed_2.zip
The reason is most users have small Tiddlywiki for their notes I guess more than half and for small wikis, the current configuration is speedy in modern computers of today!

[2020-12-05 11:21] pmario commented on #5199
+1

I think we should stick with named params only.

[2020-12-05 11:24] BurningTreeC commented on #5188
@kookma @saqimtiaz @Jermolene tag_picker_speed_2.zip uses the `wikify` widget on each tag-pill but appears to have a reasonable speed because it uses one less macrocall (doesn't use tag-pill-inner). @kookma would you mind going sure that it really improves speed in comparison to the current prerelease?

[2020-12-05 11:31] kookma commented on #5188
@BurningTreeC  What I reported is

1. Windows 10, Chrome 87, 8MB of Ram
2. Open the Tiddlywiki (test cases) adding a new tiddler
3. Trun on screen recorder and add three tags: Android, HelloThere, and done
4. Use mouse click for adding tag
5. After last tag is added stop the recorder and see the elapsed time

So this is what user senses how the whole process is fast or slow.
As I explained in all

[2020-12-05 16:22] BurningTreeC commented on #5188
Performance profiling with Chrome shows that tag_picker_speed_2.zip is indeed faster

[2020-12-05 16:29] Jermolene commented on #5130
Today has yielded two new PRs with optimisations that could perhaps be merged for v5.1.23:

* #5205 for caching the results of parsing macro calls
* #5206 use a linked list instead of an array for filter runs. Part of the case for including this in v5.1.23 is that it introduces changes to the new filterrunprefix mechanism which might be hard to do later

My own opinion is that we have yet to see s

[2020-12-05 16:34] saqimtiaz commented on #5130
@Jermolene I am in favour of allowing an extra week for testing and merging these two PRs, but with the addendum that we have a strict moratorium on merging PRs apart from bug fixes, so as to have a stable candidate for testing.

[2020-12-05 16:37] flibbles commented on #5130
Yeah, @saqimtiaz, really sorry to be this late in the game with the #5206 change. But man would it be sad if backward compatibility prevented us from ever getting it at all.

[2020-12-05 16:43] saqimtiaz commented on #5130
@flibbles no need for apologies, it is an excellent optimization.

The comment about the moratorium on merging new PRs is mostly aimed at myself and @BurningTreeC as I am sure we both have stuff we would be tempted to get in there given the opportunity.

[2020-12-05 16:43] kookma commented on #5188
@BurningTreeC  how fast is tag_picker_speed_2.zip? Would you mind to share the results?

[2020-12-05 17:05] BurningTreeC commented on #5188
I have two test-wikies based on the current prerelease with over 5000 tags. In both I trigger the tags dropdown repeatedly:

tag_picker_speed_2.zip:

![Bildschirmfoto vom 2020-12-05 18-00-40](https://user-images.githubusercontent.com/9407182/101258676-736ff700-3724-11eb-8056-3f36457764d8.png)

current prerelease:

![Bildschirmfoto vom 2020-12-05 18-02-32](https://user-images.githubusercontent.com/

[2020-12-05 17:25] kookma commented on #5188
@BurningTreeC  Thank you for sharing. Your numbers are more reliable that what I measured using screen recorder.

[2020-12-05 17:25] BurningTreeC commented on #5130
Amen.

[2020-12-05 18:30] BurningTreeC commented on #5188
@kookma, #5207 is merged which incorporates tag_picker_speed_2.zip. Is it ok for you to close this issue?

[2020-12-05 18:33] kookma commented on #5188
@BurningTreeC
Sure, Thank you for all your efforts!

[2020-12-05 18:33] #5188 closed

[2020-12-05 20:49] pmario opened #5208 "[BUG] TW server creates $:/StoryList.tid in wrong directory."
To reproduce:

 - Use 5.1.23pre

Download the latest repos to eg: /temp/

 - https://github.com/wikilabs/editions/tree/master/edit-tabs-server  and
 - https://github.com/wikilabs/editions/tree/master/edit-tabs
 - `cd ./edit-tabs-server`
 - `npm run start` ... It will start a server
 - If you open the page  http://localhost:8080 it will create the $:/StoryList in the wrong directory.
    - I don't

[2020-12-05 20:51] pmario commented on #5208
If it gets complicated in the code, to do this, just tell me, what I need to do with the new config tiddlers. ... BUT that needs be "simple"!

[2020-12-05 20:58] saqimtiaz commented on #5208
@pmario this would be an issue with the `fileInfo` fix rather than the `syncer`.
See #5176 and #5113

@joshuafontany could you please take a look?

[2020-12-05 21:05] saqimtiaz commented on #5208
@pmario I suspect something like this in `$:/config/FileSystemPaths` would fix the problem for you:
`[prefix[$:/StoryList]removeprefix[$:/]]`

However we should check and make sure that the underlying behaviour in the case of `includeWikis` is correct. I have never used this option so I am not familiar with what the behaviour is supposed to be like.

[2020-12-06 02:37] AnthonyMuscio opened #5211 "[IDEA] Hackability improvement - globally wikified values"
**Is your feature request related to a problem? Please describe.**
I am always wanting to use variables in a filter to determine if a section of wikitext is to be displayed or list items.
The problem is if the variable is a result of a complex macro I first have to Wikify the variable before use otherwise the content of the macro is passed into the filter not the value.

**Describe the solution yo

[2020-12-06 05:33] joshuafontany commented on #5208
I don't think that would work. You would need to include the relative path back to the "/tiddlers" folder in the folder that the primary tiddlywiki.info file was loaded from.To catch all system tiddlers you would want `[prefix[$:/]removeprefix[$:/]addprefix[../../edit-tabs-server/tiddlers/system]]`.

I also noted that the `$:/StoryList` was saved to the folder defined in a tiddlywiki.info's "defau

[2020-12-06 05:39] joshuafontany commented on #5208
Yes, 5.1.22 writes new system tiddlers to the directory defined in  "default-tiddler-location".

[2020-12-06 08:36] joshuafontany commented on #5208
And the bug manifests with ./bin.serve.sh but not when starting node.js debugger via VSCode. Fun..... Time for some deep debugging...

But when the bug occurs, it writes the file with an encoded filename, interesting... I wondering if we are triggering different code paths somehow...

[2020-12-06 08:57] joshuafontany commented on #5208
Aaah, it was user input sensitivity. I was passing a full path for the wiki to be loaded, most of the scripts pass a relative path.

And we are storing that as-is in `$tw.boot.wikiPath`, which fails the compare test later to see if the new file-location starts with the wikiPath. Ok, going to fix this up, and take the opportunity to improve the performance of some of the functions called.

[2020-12-06 09:38] joshuafontany commented on #5208
https://github.com/Jermolene/TiddlyWiki5/pull/5213 should patch this bug, specifically calling path.resolve() on line 385 of filesystem.js. Mahalo @pmario for catching this before release!

[2020-12-06 09:41] #5208 closed

[2020-12-06 09:41] Jermolene commented on #5208
Thanks everyone

[2020-12-06 13:56] #4815 closed

[2020-12-06 18:09] rmunn opened #5219 "[BUG] $log widget producing empty output in Firefox"
**Describe the bug**
The `$log` widget appears to be producing blank output in the Firefox console: the values of the logged variables aren't showing up.

**To Reproduce**
I created a tiddler named `Something`, and two related tiddlers called `Something/one` and `Something/two` containing the text `One` and `Two` respectively. (In my real project these would be subcategories of data that I want to

[2020-12-06 19:39] saqimtiaz commented on #5219
Your syntax is incorrect.
Use named attributes:
<$log myVar=<<myVar>> otherVar=<<otherVar>>/>

Or check docs at the pre-release site for $$all attribute.

[2020-12-06 19:42] saqimtiaz commented on #5219
`<$log myVar=<<myVar>> other={{!!status}} $$filter="foo currentTiddler"/>`

[2020-12-06 21:27] kookma opened #5220 "[IDEA] Extra key/value for palette to indicate the mode: dark or light"
**Is your feature request related to a problem? Please describe.**
Back to discussion in [Google forum](https://groups.google.com/d/msgid/tiddlywiki/9d1da969-9186-4c29-8f84-5589bbbe8b6fn%40googlegroups.com?utm_medium=email&utm_source=footer) regarding the dark/light palette, there is no way one can programmatically determine which mode dark/light is in use.

As @Jermolene  advised  in [Google foru

[2020-12-07 00:05] rmunn commented on #5219
Ah, I see. I misunderstood the line "When the widget is rendered, the names and values of all attributes are logged to the JavaScript console" to mean that you could specify the variables by name and their values would be looked up, but you actually have to specify the values in the `$log` element.

However, I fixed my syntax and the problem still persists. Same symptoms: empty values in the conso

[2020-12-07 00:12] joshuafontany commented on #5187
@Jermolene Agreed & and easy fix. https://github.com/Jermolene/TiddlyWiki5/pull/5222

[2020-12-07 00:15] saqimtiaz commented on #5219
@rmunn I can confirm the problem exists on Firefox. It seems to be caused by the `console.table` call in` utils.logTable`.

[2020-12-07 00:23] saqimtiaz commented on #5219
So the the second argument to $tw.utils.logTable is the problem. This is only supported for arrays and not objects, however is ignored on Chrome:
https://github.com/Jermolene/TiddlyWiki5/blob/483fd941f57a81bfb86ff7f92a62ff2186cd8ff3/core/modules/widgets/action-log.js#L81

[2020-12-07 01:52] rmunn commented on #5219
I can confirm that PR #5223 fixes this issue.

[2020-12-07 01:54] rmunn commented on #5219
And if I use the incorrect syntax, `<$log currentTiddler/>`, then it logs it with a value of `true`, which is what you'd expect once you read the HTML5 spec (and the TW code) and realize that "empty" attributes are treated like booleans with the implied value "true". So `<$log currentTiddler/>` is really being treated as `<$log currentTiddler="true"/>`, and that's what's being logged.

[2020-12-07 01:59] jeremyredhead commented on #5201
Since PR #5202 has been merged this issue can be closed, right?

[2020-12-07 02:04] flibbles commented on #5201
It can. Closed!

[2020-12-07 02:04] #5201 closed

[2020-12-07 07:50] saqimtiaz commented on #4742
@joshuafontany would you be so kind as to read the original post and reflect on how the recent changes to saving mechanism might ameliorate the problem described here? Thank you.

[2020-12-07 07:55] saqimtiaz commented on #4265
@Jermolene another quick thought today was whether there might be scope for a `<$messagecatcher>` widget akin to the new `<$eventcatcher/>` widget.

The original proposal in this issue would suggest most probably not, but just leaving the thought here as an alternative possibility for customizing message handling.

[2020-12-07 08:09] Jermolene commented on #4265
Thanks @saqimtiaz I'd forgotten about this ticket; I still quite like the idea. I think it's a cleaner approach than having a `<$messagecatcher>` widget because of the way it unifies messages and variables, and thus marginally simplifies the set of entities that users must learn about.

[2020-12-07 08:12] saqimtiaz commented on #4265
@Jermolene I also think the original idea is more approachable for non-technical users, who are much more likely to think in terms of macros than events.

I wanted to document the `<$messagecatcher>` idea though in case it might prove useful at some point. In some ways issues are like a knowledge and idea bank as well.

[2020-12-07 09:29] BurningTreeC commented on #5220
@kookma - what would be the benefit of this? How could this be used? Any ideas?

best wishes

[2020-12-07 09:48] Jermolene commented on #5220
Hi @kookma I think you're suggesting a metadata field that palette authors affix to palettes to indicate whether they are "light" or "dark". That's the sort of thing we will think about for v5.1.24 when we address automatic switching of dark vs light mode. I'm inclined to think it's not necessary to have those labels as formal metadata because we need to allow users to choose to switch between any

[2020-12-07 10:04] kookma commented on #5220
@BurningTreeC  - The reason I asked this some plugins like Shiraz have their own set of colors. When user switch from light palette to dark one, Shiraz still uses its light colors and user has to go to setting page and inform plugin to use its dark colors. If I can determine the mode in use by Tiddlywiki, plugin can adjust itself.

@Jermolene
I understand and I did not asked this for 5.1.23, but y

[2020-12-07 10:04] #5220 closed

[2020-12-07 10:20] Jermolene commented on #5220
Ideally, Shiraz would define the extra colours that it needs in terms of the existing named palette colours. One useful trick is the `<<contrastcolour>>` macro which can figure out which of two colours would provide the best contrast with the target colour. So, for example, if you need a background colour that will work regardless of the selected "foreground" colour being used for text, you might

[2020-12-07 10:28] kookma commented on #5220
@Jermolene  - many thanks for help.
 I see we will have amazing features on colors in TW 5.1.24

[2020-12-07 10:34] saqimtiaz commented on #5220
@Jermolene one of the tricks I used for the row background colours for the import table was adding an alpha value to existing palette colours to change their transparency. A macro to make that more user-friendly would be great indeed.

See https://github.com/Jermolene/TiddlyWiki5/blob/master/themes/tiddlywiki/vanilla/base.tid#L2152

[2020-12-07 12:29] tgirod opened #5227 "[BUG] Saving in Beaker Browser 1.0 is not working?"
**Describe the bug**
I've just installed beaker browser 1.0, created a new drive with a tiddlywiki (v5.1.22) as index.html. When I edit my wiki from beaker and click save changes, I get a "save file" window to save on disk rather than inside the drive.

**To Reproduce**
Steps to reproduce the behavior:
1. install beaker
2. create a new hyperdrive
3. add an empty tiddlywiki file
4. rename it to ind

[2020-12-07 12:35] tgirod opened #5228 "[IDEA] move the sidebar's scrollbar under the tabs"
I have a wiki with a **lot** of tags, so the sidebar scrolls when the "More" tab is selected. When this happens, I get two scrollbars next to each other on the window side, which is inconvenient.

I think the scroll would be better off under the `Open | Recent | Tools | More` tabs, with the top of the column fixed. Anyway, that's just a thought!

[2020-12-07 13:00] BurningTreeC commented on #5227
Hi @tgirod - the beaker browser save mechanism has changed with version 1.0 and therefor you need tiddlywiki version 5.1.23 to be able to save changes with it. Version 5.1.23 will be released soon

[2020-12-07 15:42] Jermolene commented on #5220
I hadn't noticed that 👏 very cool.

It would certainly be nice to be able to do it more robustly (this technique will fail if the colour in the palette is specified with three hex digits eg `#fff`).

[2020-12-07 15:53] #5219 closed

[2020-12-07 16:08] tgirod commented on #5227
that's great to know, thanks a lot !

[2020-12-07 16:08] #5227 closed

[2020-12-07 16:11] Jermolene opened #5231 "Tickets to be considered for post-v5.1.23"
We've started deferring changes until after the imminent release of v5.1.23 (see #5130). This ticket is to act as a reminder for issues/PRs that we want to pick up for the next release.

[2020-12-07 16:12] Jermolene commented on #5231
#4558 - Add WebserverAPI for obtaining tags as JSON

[2020-12-07 19:16] kookma opened #5234 "[BUG] Low contrast color in some palettes for .field documentation macro"
**Describe the bug**
Low contrast color in some palettes for .field documentation macro

For example Nord and Spartan Night

**Screenshots**
This is Nord palette

![236_chrome](https://user-images.githubusercontent.com/830394/101394411-b9bc8600-38dd-11eb-8b24-1e317e413f75.png)

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome 87
 - Version TW5.1.23

[2020-12-07 19:23] BurningTreeC commented on #5234
@kookma - I welcome pull requests for those palettes :grin:

[2020-12-07 19:32] kookma commented on #5234
@BurningTreeC  - Sure, I really like to help. But I am not good at making PR.

I think this issue does not affect the 5.1.23 am I right?
If so, please leave this and let me to give a try to see how can I correct this through submitting PR.

:-)

[2020-12-07 20:06] joshuafontany commented on #4742
I was already lurking here while coding the fix. :) Sorry, should have commented. The new changes fix this. Any time a write fails, the tiddler's file path is run thru  `encodeURIComponent()` and then saved to the primary $tw.wikiTiddkersPath (with auto incrementing #s if that file already exists from another tiddler).

[2020-12-07 20:57] #5187 closed

[2020-12-07 21:45] Mixie-12 opened #5235 "[BUG] Get more plugins does not load"
**Describe the bug**
Using chrome, trying to get more plugins.
Looks like tiddlywiki cant open the plugin library

**To Reproduce**
Open your TiddlyWiki in a browser
Open the control panel , click on the Plugins tab and then the  Get more plugins button
Click  open plugin library to open the official plugin library

**Expected behavior**
Display a library

**Screenshots**
![image](https://user-ima

[2020-12-07 22:08] saqimtiaz opened #5236 "[IDEA] Tools for manipulating colors"
It would be helpful to provide some tools to complement the palette system, which would allow things like adjusting the brightness or transparency of existing colours in the palette. This would help limit the need for adding new palette entries every time a new colour is needed.

See https://github.com/Jermolene/TiddlyWiki5/issues/5220#issuecomment-739822421 and https://github.com/Jermolene/Tiddly

[2020-12-07 22:08] saqimtiaz commented on #5220
@Jermolene yes, I considered using filters to convert three hex digits to 6 etc but went the simple route for now. My goal was to avoid adding extra palette entries that we would then be stuck with moving forwards.

I've created a ticket to remind us to add tools for color/palette manipulation:
#5236

[2020-12-07 22:10] saqimtiaz commented on #5231
Another one we have postponed:
#5054 - Add the possibility to dynamically exclude tiddlers from being exposed by the server

[2020-12-07 22:14] saqimtiaz commented on #4742
@joshuafontany that is great, thank you.

We should however leave this issue open. There is still a need to sync back to the client a tiddler/message indicating that there was a problem with saving.

[2020-12-07 22:17] Jermolene commented on #4742
We may be able to use the alert mechanism here. In principle, we could sync $:/tags/Alert tiddlers to particular clients whenever we want to display an error message.

[2020-12-07 22:22] saqimtiaz commented on #4742
@Jermolene that would work. The failure condition at which @joshuafontany's code writes out the tiddlers with file path after encoding with `encoreURIComponent`, would be a good flag to create the alert tiddlers.

Suggest we take a look at this after 5.1.23.

[2020-12-08 04:06] clutterstack commented on #5235
I have this issue as well. I searched for issues with plugin libraries, because I've rebuilt my wiki with 5.1.23 and didn't know if it's "just me."  On https://tiddlywiki.com/prerelease/ it looks as though the official library has plugins, but when you click the plugins tab, it goes back to just the two top tabs offering the online or local libraries.

I'm on Mac Catalina 10.15.7, Firefox.

[2020-12-08 04:47] kookma commented on #5236
@saqimtiaz - Thank you for this.
The current palette is very lengthy and many elements has been given there to be manually set. Maintaining these palettes is a little hard and I think  they should me more flexible.

One suggestion is: to have a set of main colors like 4 to 6 colors and all elements derive their colors from them programmatically like using alpha or contrast or some mixing macros.

[2020-12-08 07:27] jeremyredhead commented on #5168
I was initially relieved to read that `tm-add-field` is an "ancient kludge" that can be forgotten about, since I was definitely bewildered by it.

But after inspecting `$:/core/ui/EditTemplate/fields` it turns out that `tm-add-field` ***can*** set field values as well it seems,
through the use of optional named parameters (i.e. $name and $value or field=value). This isn't documented currently it s

[2020-12-08 07:36] rmunn commented on #5168
The easiest way to add or remove tags would be to use the [ActionListopsWidget](https://tiddlywiki.com/#ActionListopsWidget), as follows:

[code]

Of course, you don't have to use a button; you can trigger an action widget with several different widgets. (With more ways to trigger actions coming in 5.1.23). And if you want to use a checkbox to set or remove a tag, that's even easier:

[code]

That

[2020-12-08 07:54] jeremyredhead commented on #5168
Thank you very much for the info about the Action Listops widget!
I vaguely knew it was possible using listops "or something" but thought it would require trickery with filters.
I feel like a lot of users may be intimidated by filters/listops and thus not know these tricks (or maybe that's just me).

I still feel that the undocumented behavior of `tm-add-field` should be documented for posterity a

[2020-12-08 11:06] Jermolene commented on #5168
Likewise, I'd be happy to see a PR for that docs update.

Another thought is that `<$action-listops $field="tags" $subfilter="-newtag"/>` is undeniably complex. We could ameliorate that problem by providing a bunch of core action macros with friendlier functionality. In this case, `<<action-removetag tags newtag>>`. We could aim to capture say half a dozen of the most common idioms of the `<$actio

[2020-12-08 11:14] saqimtiaz commented on #5102
@cipharius apologies for the late reply. I needed to find the time to do some debugging.

You are correct. The `actionTiddler` variable in the `droppable` widget always contains an extra opening and closing double brackets in Chrome on Android even though it should be a simple tiddler title with no extra encoding. That is, for tiddler `My title` the actionTiddler is  `[[My title]]` which when used

[2020-12-08 11:28] Jermolene commented on #5102
Very strange. `makeDraggable()` in `$:/core/modules/utils/dom/dragndrop.js` just calls `$tw.utils.stringifyList()` to add the double square brackets, as can be seen by dragging a tag pill into a text area:

<img width="675" alt="image" src="https://user-images.githubusercontent.com/174761/101477745-8ca4bd80-3947-11eb-83c4-dcb2a36ce54d.png">

It's true that `$tw.utils.stringifyList()` will wrap dou

[2020-12-08 11:45] saqimtiaz commented on #5102
@Jermolene that is the symptom rather than the root problem as it is only in Chrome on Android that the draggable widget provides a title list, on desktop it provides a title. I believe this is due to the different `type` used from the `event.dataTransfer`

So I've confirmed that [utils.makeDraggable](https://github.com/Jermolene/TiddlyWiki5/blob/master/core/modules/utils/dom/dragndrop.js#L24) is

[2020-12-08 11:56] saqimtiaz commented on #5102
@Jermolene I'm wondering if this might be a bug with Chrome on Android and how it handles `event.dataTransfer.setData` for different `types`. I'll investigate as time allows and report back.

[2020-12-08 12:13] Jermolene commented on #5102
Thanks @saqimtiaz this is a tricky area. I recall that the combination (and ordering) of the types that are set and retrieved was  very fiddly when I first set things up.

One point to remember is that we need to be able to drag draggable things into text areas and get a title list (including textareas outside TiddlyWiki), so we can't do things like overload the text type with a JSON representatio

[2020-12-08 12:29] saqimtiaz commented on #5102
Agreed. If it is a browser bug and we do decide to ameliorate it, I would favour trying to make the wiki text macros more flexible regarding their input variables. Ultimately it may be that we should not do more than just document the idiosyncrasy if it is a browser inconsistency.

[2020-12-08 20:04] saqimtiaz commented on #5235
@clutterstack @Mixie-12 Can you both please confirm if you have this problem at:
- https://tiddlywiki.com/prerelease/
- https://tiddlywiki.com/

Or is this happening when running locally on node?

The plugin library is working just fine for me at both of the above URLs in Chrome and Firefox on Windows 10.

[2020-12-08 21:12] kookma commented on #5235
I can confirm using latest 5.1.23 the third party plugin libraries do not work!

Tested: Windows 10, Chrome 87, TW 5.1.23prerelease

[2020-12-08 22:01] clutterstack commented on #5235
@saqimtiaz It works fine on tiddlywiki.com, but not on tiddlywiki.com/prerelease for me, if I use Firefox (83.0, up to date).

But --  both sites work fine in Safari!

OS: Mac Catalina 10.15.7

[2020-12-08 22:08] clutterstack commented on #5235
OK, argh, I spoke too soon. I was able to see the plugins under the "plugins" tab in Safari, but if I click another tab it goes blank.

In any case, looking at the [google group](https://groups.google.com/g/tiddlywiki/c/dZmp1gQivJI/m/s2l6NeAOAgAJ), is this just a matter of finalising the library address on release, and not truly a bug?

[2020-12-09 00:24] joshuafontany opened #5240 "[IDEA] Support recursively searching subdirectories in "tiddlywiki.files" configs"
Someone on Google Groups was having problems importing markdown text files via "tiddlywiki.configs" and let slip that the ones in the subdirectories were not appearing. I pointed to the doc that said that is actually the current behaviour.

But, now that "tiddlywiki.files" configs are also primarily being used to import whole directories of text (& other) files, and not really to import "*.js" fil

[2020-12-09 04:27] kookma commented on #5235
Another test:

1. go to https://tiddlywiki.com/prerelease/#Empty%20Edition
2. download empty.html
3. go to $:/ControlPanel , Plugins tab, and click on Get more plugins
3.1 NO plugin is displayed (empty window)
4 import https://tiddlywiki.com/prerelease/#%24%3A%2Fconfig%2FOfficialPluginLibrary
5. save and relaod
6. got to $:/ControlPanel , Plugins tab, and click on Get more plugins
7. all official

[2020-12-09 04:31] kookma commented on #5235
strangely in opera no plugins are shown. the plugin library is empty

[2020-12-09 05:53] #4487 closed

[2020-12-09 09:06] Jermolene commented on #5235
Thanks everyone I've tracked it down to a problem in #4985, I'll commit a fix shortly.

[2020-12-09 09:07] #5235 closed

[2020-12-09 09:39] saqimtiaz commented on #5102
@Jermolene I can confirm that is a browser issue and not a TiddlyWiki bug.

I modified the [MDN drag example](https://developer.mozilla.org/en-US/docs/Web/API/Document/dragend_event) to set two `event.dataTransfer` types, `text/plain` and `text/vnd.tiddlywiki` in dragStart. In the `drop` event only `text/plain` was available in Chrome on Android.

I do not think there is much we should do to try a

[2020-12-09 09:43] Jermolene commented on #5102
Thanks @saqimtiaz

Could it be that Chrome on Android has an accept list of content types that it will accept? I recall that's why we put some of the setData calls behind an IE conditional.

That sounds like it might break things elsewhere? If we don't call stringifyList then the other end can't distinguish between dragging "A B C" and "[[A B C]]"?

It would certainly be great to get it working.

[2020-12-09 09:55] saqimtiaz commented on #5102
Not that they have documented anywhere. However there are many bug reports going years back of the same problem in Chrome for Desktop where only the type text/plain and text was supported in event.dataTransfer, before eventually being resolved.
I have not found any discussion regarding the mobile implementation but it seems likely the same issue is still present in mobile Chrome. I'll raise an iss

[2020-12-09 09:58] Jermolene commented on #5102
Thanks @saqimtiaz much appreciated (I've always found working on drag and drop rather dispiriting because of the rampant browser incompatibility).

[2020-12-09 10:01] saqimtiaz commented on #5102
PS: I was thinking mostly in terms of the `DroppableWidget` which always expects the `actionTiddler` variable to be a single title when I suggested skipping the call to `$tw.utils.stringifyList()`. So it would work just fine there, but I see that this could be problematic elsewhere like dragging a link into a text-editor.

I empathize with you on the frustrations of browser incompatibility in this

[2020-12-09 10:48] kookma commented on #5235
@Jermolene - I can confirm the issue has gone.

[2020-12-09 15:42] flibbles opened #5243 "[BUG] Is anybody else noticing that jasmine doesn't work anymore on browser?"
Jasmine still works with the core testing framework in `editions`, but ever since the fix for #5210 (Dec 4th) came in, jasmine no longer runs in the browser for any of my projects, including Relink.

I'm still looking into this, but I'm coming into this cold. Does anyone know why the single line: `exports.after = ["commands"];` would cause the tests to stop initializing?

[2020-12-09 15:46] flibbles commented on #5243
Actually, scratch that. I doesn't work with the core testing framework either. I hadn't refreshed it properly.

[2020-12-09 16:39] flibbles commented on #5243
Okay. Stepping through the code. It looks like it never runs because it's waiting on the "commands" startup task to finish, but it never runs because it's configured to only run on NodeJS.

@Jermolene, might it be appropriate to remove startupModules from the `remainingStartupModules` list if it's never going to run at all?

@ento, pinging you on this, since this is code you were working on.

[2020-12-09 20:44] kookma opened #5245 "[BUG] Gruvbox theme button background color + svg image"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tiddlywiki.com/prerelease/
2. create a new  tiddler
3. put this wikitext as body and save : `<$button>{{$:/core/images/close-button}} Close</$button>`
4. See issue: very little contrast

**Expected behavior**
svg image should be seen clearly

**Screenshots**

[2020-12-09 20:44] kookma commented on #5245
@BurningTreeC  - I will make a PR

[2020-12-09 23:54] ento commented on #5243
Whoops, thanks for diagnosing, @flibbles

The check for the `after` constraint requires that the specified modules are marked as executed in `$tw.boot.executedStartupModules`:

https://github.com/Jermolene/TiddlyWiki5/blob/50d8325d4c9f17892ec36e9fc818cfcb3655f150/boot/boot.js#L2498-L2506

So I think removing the commands module from `remainingStartupModules` will still leave `jasmine` hanging.

We

[2020-12-10 07:28] rmunn opened #5246 "[BUG] 5.1.23 Blocker: The reduce operator and :reduce run prefix behave differently on empty input"
**5.1.23 blocker**, IMHO, though it shouldn't take too long to resolve.

**Describe the bug**
The `reduce` operator and `:reduce` prefix behave differently on empty input. One or the other should be adjusted so they behave the same. The operator will always produce output, even if its input is empty (the output is the value of the accumulator). The filter run prefix will produce an empty output if

[2020-12-10 07:30] rmunn commented on #5130
#5246 should, IMHO, be a release blocker, because the different behavior between the `reduce` operator and the `:reduce` filter run prefix is going to trip someone up. Right now is the time to fix it, so that we don't end up having to break backwards compatibility if we fix it post-release.

[2020-12-10 07:47] rmunn commented on #5246
Having thought about it some more, option 4 is probably not viable. Sure, it's fine to say "Use the first value in the list as the initial accumulator value" when the operation you're doing acts directly on the list contents, such as in the `1 2 3 :reduce[multiply<accumulator>]` example. But what if the operation is looking something up, such as a `price` field? Then you can't just do `oranges app

[2020-12-10 07:53] rmunn commented on #5166
After thinking about this some more while writing #5246, I've come to the conclusion that filter run prefix suffixes, as ugly as that phrase is to type, might actually be necessary due to the fact that `=1 =2 =3 :reduce[multiply<accumulator>]` produces 0. There are two ways to make that produce the value you'd actually expect. One is to write it as `=1 =2 =3 :reduce[<index>compare:number:gt[0]then

[2020-12-10 07:58] rmunn commented on #5246
Alternate possibility: let filter run prefixes take a second parameter the way operators do, so that instead of `=1 =2 =3 :reduce:1[multiply<accumulator>]`, it would be `=1 =2 =3 :reduce[multiply<accumulator>],[1]`. I'm pretty sure the `:` syntax (filter run prefix suffixes) would be able to be parsed in the parseFilter function of core/modules/filters.js, but would the latter syntax (the `,[1]` s

[2020-12-10 08:06] danielo515 commented on #5130
Is there a list of known breaking changes?

[2020-12-10 08:11] saqimtiaz commented on #5246
@rmunn I pondered over this difference when writing the `:reduce` prefix. I didn't feel at liberty to change the behaviour of the `reduce[]` operator and since prefixes cannot accept additional arguments, I settled for trying to make sure the examples illustrated the difference. I had not considered the multiply scenario.

Greater consistency is always preferable if possible. Personally I would fa

[2020-12-10 08:11] Jermolene commented on #5130
Yes, we definitely need to resolve that now.

[2020-12-10 08:20] Jermolene commented on #5130
As per our usual policy, we have endeavoured to maintain backwards compatibility with this release. The vast majority of changes in a new release are additions (more filters, widgets, macros etc) which generally don't have a broad impact. The exceptions are:

* most bug fixes necessarily break backwards compatibility, and therefore could theoretically impact a plugin
* when we re-engineer a subsys

[2020-12-10 08:35] Jermolene commented on #5246
Just to focus on one part of this: oddly, I don't have much problem with the complexity of the multiply example:

[code]

My reasoning is that the rationale for the reduce operator is to give us filters that hugely expand what is possible. It's also pretty complicated conceptually, the kind of thing that learners would find hard to understand until they reach the point where they've experienced th

[2020-12-10 09:02] rmunn commented on #5246
I'm currently busy writing the demo I'm going to use to present to my colleagues so I don't have time to implement this today, but I'll be happy to implement option 1 starting tomorrow if nobody else gets to it first. I'd prefer option 4, but as I [mentioned earlier](https://github.com/Jermolene/TiddlyWiki5/issues/5246#issuecomment-742328431) it's not really viable. There's really no way to make o

[2020-12-10 11:48] saqimtiaz commented on #5246
@rmunn I wont be able to work on this before the weekend at the earliest, so please feel free tomorrow. We should add the multiply example to the docs as well.

As for the filter visualizer @Jermolene, I think we can get that ready for 5.1.24. I have some thoughts and leads to discuss once 5.1.23 is released and hopefully things calm down a bit on my end, the volunteering is tying up a fair bit of

[2020-12-10 14:05] Jermolene commented on #5246
By the way, I support option 1.

[2020-12-10 15:13] flibbles commented on #5243
I would say set jasmine's `.after` constraint to be conditional based on current platform. The change only needs to be in jasmine then, not in the boot code. Especially this close to V5.1.23, making changes to the actual module loader could be risky, or non-backward compatible.

Also, I would probably give the jasmine module a name, like `exports.name = 'jasmine'` or something. Not related to what

[2020-12-10 15:25] flibbles commented on #5243
Also, should a more major change come down the line, this conditional setting of `exports` in jasmine won't break anything, or have any back-compat problems.

[2020-12-10 15:35] Jermolene commented on #5243
Thanks @flibbles @ento. Fix (3) does indeed sound like the lowest impact.

[2020-12-10 15:54] saqimtiaz commented on #4761
Fixed in #5113

[2020-12-10 15:54] #4761 closed

[2020-12-10 17:05] Jermolene commented on #5166
Notwithstanding my earlier [comment](https://github.com/Jermolene/TiddlyWiki5/issues/5246#issuecomment-742368759), I agree that adding filter run prefix suffixes makes a lot of sense.

With reference to the clumsy nomenclature, perhaps this is our last chance to rename "filterrunprefix" to avoid the overloading of the term "prefix". We might use:

* filterrunhead
* filterrunmethod
* filterruntype

[2020-12-10 17:16] BurningTreeC commented on #5245
The problem here is, that there's only the fill-rule on `body.tc-body` which applies here, and that is the `foreground-color` ... on a white / gray button the svg icon becomes invisible.

A solution would be to set

[code]

and define that properly for all palettes

[2020-12-10 17:18] saqimtiaz commented on #5166
@Jermolene I would suggest `filterruntype`.

I don't think we should drop the word "run" as I could potentially see `filtertype` clashing with some hypothetical type attribute of filter operators in the future. Also our documentation already describes the sequences of filter steps as a `filter run`, so `filter run type` is more intuitive.

[2020-12-10 17:21] Jermolene commented on #5245
We already have `html button {color: <<colour button-foreground>>;}`, I think the lack of a declaration for the `fill` property was an oversight.

[2020-12-10 17:26] Jermolene commented on #5166
That's rather my concern with "type": that it's too generic a term, and already littered through our code.

Very good point.

Also to add:

* filterrunjoiner
* filterrunmodifier

[2020-12-10 17:29] Jermolene commented on #5240
Hi @joshuafontany

Yes, great idea.

[2020-12-10 17:31] saqimtiaz commented on #5166
`filterrunmodifier` and `filterrunmodifier` suffix?

Do note that we do already use the term [filter run prefix](https://tiddlywiki.com/#Filter%20Expression) in docs for some time, but a change might be warranted here to avoid more confusion down the road.

[2020-12-10 17:32] kookma commented on #5245
@BurningTreeC  - Thank you

[2020-12-10 17:32] #5245 closed

[2020-12-10 17:33] Jermolene commented on #5166
Tsk I had forgotten, and thought we'd introduced the term with v5.1.23. I think the naming boat has sailed then, we'll have to live with it.

[2020-12-10 18:02] saqimtiaz commented on #5130
@Jermolene there is a small bug with the recent LinkedList change to filter run prefixes that needs resolving before release. Quick fix but needs to be done before release. I'll try to attend to it either late tonight or tomorrow morning.

https://github.com/Jermolene/TiddlyWiki5/blob/master/core/modules/filters.js#L300 expects an array but now receives a linked list.

[2020-12-10 18:09] flibbles commented on #5130
Ooh. This is my bad. I can make a PR for it now actually. I throw in a test too to make sure this travesty never happens again.

[2020-12-10 18:09] saqimtiaz commented on #5130
@flibbles that would be great and no worries, it's a hole in our testing coverage.

[2020-12-10 18:22] flibbles commented on #5130
Fix! #5251

[2020-12-10 18:38] saqimtiaz commented on #5231
#5252 - Allow suffixes for filter runs

[2020-12-10 18:56] ento commented on #5243
Yup, that makes sense. I can do a PR with (3) (+ setting a name on the module).

[2020-12-10 19:36] ento commented on #5243
-> #5254

[2020-12-11 00:52] AnthonyMuscio commented on #5155
I reviewed the discussion and now I get it, being able to place the extra parameters inside the action widget, would be a great simplification. It is somewhat over my head.

**[IDEA] widgets, that allow "actions" should be able to RETURN "user defined" variables**

One thing that struck me that inside an <<actions>> macro while we can set tiddlers or fields to a value according to logic within the

[2020-12-11 04:50] rmunn commented on #5246
PR: https://github.com/Jermolene/TiddlyWiki5/pull/5255

[2020-12-11 05:08] rmunn commented on #5246
I've chosen to go with option 1 for the PR, as this brings `reduce` and `:reduce` into feature parity (except that initial accumulator values can't be specified with `:reduce` because it lacks the syntax for it). I've also updated the documentation, and mentioned the `multiply<accumulator>` gotcha where initial accumulator values are necessary to get the result most people would expect. (And if in

[2020-12-11 05:24] saqimtiaz commented on #5246
@rmunn thank you.

[2020-12-11 10:07] Jermolene commented on #5246
Great, thanks @rmunn @saqimtiaz

[2020-12-11 10:12] #5243 closed

[2020-12-11 12:30] pmario commented on #5228
IMO duplicate of: Feature to consider: Sidebar scrolling limited to tabs #144

[2020-12-11 14:51] saqimtiaz opened #5257 "[BUG] Reveal widget refresh bug"
The `<$reveal>` widget does not update if the either the `class` or `style` attributes change.

@Jermolene let me know if you are open to a patch for 5.1.23 in which case I can work on one today, or if you want to leave this for 5.1.24.

[2020-12-11 15:05] tgirod commented on #5228
@pmario well spotted!

[2020-12-11 15:05] #5228 closed

[2020-12-11 15:24] saqimtiaz commented on #5257
It was a very easy fix so I've pushed a PR regardless of when we want to merge it. #5258

[2020-12-11 15:35] Jermolene commented on #5257
Thanks @saqimtiaz

I fear there may be a few more of these, it may be worth doing a structured review at some point.

[2020-12-11 15:36] #5257 closed

[2020-12-11 15:38] saqimtiaz commented on #5257
@Jermolene agreed. For 5.1.24 I'd also like to consider adding a method to the widget base class to handle assigning/updating classes to the widget DOM node as this pattern is showing up often now.

[2020-12-11 15:59] Jermolene commented on #5257
If we're dreaming a little, I've always wanted to make the widget interface more declarative. For example, a widget could declare a structure describing the attributes that it requires, and the system could then deal with a lot of housekeeping around rendering and refreshing. With a bit more metadata we could start to think about popup help in the editor as one starts to type a widget naem.

[2020-12-11 16:33] kookma opened #5259 "[Plugins Tab] Sort plugins by name in Plugins Tab"
Reference to https://github.com/Jermolene/TiddlyWiki5/discussions/5256#discussioncomment-194699

_Originally posted by @Jermolene in https://github.com/Jermolene/TiddlyWiki5/discussions/5256#discussioncomment-194699_

[2020-12-11 16:36] Jermolene commented on #5259
Fixed in 93309b0b7d376f61e4ae3a9fc7b2021db7eeb44c

[2020-12-11 16:36] #5259 closed

[2020-12-11 17:54] saqimtiaz commented on #5257
@Jermolene I've had the same thought when optimizing the refresh code of same of the widgets. Further this would help with situations like the one with providing variables to action strings that are derived from widget attributes as well. Something to consider and look into when time allows.